/*login_registerBox*/
.loginRegisterBox {
  margin-top: 8.75rem;
}
.loginRegisterBox .loginRegister {
  margin: 0 auto;
}
.loginRegisterBox .loginRegister .loginWrap {
  padding-bottom: 4.375rem;
}
.loginRegisterBox .loginRegister .loginWrap .loginBox {
  width: 18.125rem;
  margin: 0 auto;
  /*background-color: #bfa;*/
}
.loginRegisterBox .loginRegister .loginWrap .loginBox .loginTitle {
  font-size: 1.125rem;
  color: #333;
  font-weight: bold;
  margin: 1rem 0;
}
.loginRegisterBox .loginRegister .loginWrap .loginBox .loginTitle .gang {
  color: #FF4720;
  padding-left: 0.3125rem;
}
.loginRegisterBox .loginRegister .loginPhone {
  height: 2.625rem;
  margin-bottom: 1.125rem;
}
.loginRegisterBox .loginRegister .loginPhone .phoneImg {
  width: 2.625rem;
  height: 2.625rem;
}
.loginRegisterBox .loginRegister .loginPhone .phoneText {
  width: 15.5rem;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
  border: 1px solid #ddd;
}
.loginRegisterBox .loginRegister .loginPassword {
  height: 2.625rem;
  margin-bottom: 1.375rem;
}
.loginRegisterBox .loginRegister .loginPassword .passwordImg {
  width: 2.625rem;
  height: 2.625rem;
}
.loginRegisterBox .loginRegister .loginPassword .passwordText {
  width: 15.5rem;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
  border: 1px solid #ddd;
}
.loginRegisterBox .loginRegister .loginBtn {
  cursor: pointer;
  font-size: 0.8125rem;
  color: #fff;
  text-align: center;
  padding: 0.5625rem 0;
  background-color: #FF4720;
}
.loginRegisterBox .loginRegister #goToRegister {
  background-color: #169bd5;
}
.loginRegisterBox .loginRegister .loginBottom {
  padding-top: 0.625rem;
}
.loginRegisterBox .loginRegister .loginBottom img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.loginRegisterBox .loginRegister .registerWrap {
  padding-bottom: 4.375rem;
}
.loginRegisterBox .loginRegister .registerWrap .registerBox {
  width: 18.125rem;
  margin: 0 auto;
  /*background-color: #bfa;*/
}
.loginRegisterBox .loginRegister .registerWrap .registerBox .registerTitle {
  font-size: 1.125rem;
  color: #333;
  font-weight: bold;
  margin: 1rem 0;
}
.loginRegisterBox .loginRegister .registerWrap .registerBox .registerTitle .gang {
  color: #FF4720;
  padding-left: 0.3125rem;
}
.loginRegisterBox .loginRegister .registerPhone {
  /*height: 42/@rem;*/
  margin-bottom: 0.625rem;
}
.loginRegisterBox .loginRegister .registerPhone .phoneImg {
  width: 2.625rem;
  height: 2.625rem;
}
.loginRegisterBox .loginRegister .registerPhone .phoneText {
  width: 15.5rem;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
  border: 1px solid #ddd;
}
.loginRegisterBox .loginRegister .registerPassword {
  height: 2.625rem;
  margin-bottom: 0.625rem;
}
.loginRegisterBox .loginRegister .registerPassword .passwordImg {
  width: 2.625rem;
  height: 2.625rem;
}
.loginRegisterBox .loginRegister .registerPassword .passwordText {
  width: 15.5rem;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
  border: 1px solid #ddd;
}
.loginRegisterBox .loginRegister .registerName {
  height: 2.625rem;
  margin-bottom: 0.625rem;
}
.loginRegisterBox .loginRegister .registerName .nameImg {
  width: 2.625rem;
  height: 2.625rem;
}
.loginRegisterBox .loginRegister .registerName .nameText {
  width: 15.5rem;
  height: 2.625rem;
  line-height: 2.625rem;
  outline: none;
  border: 1px solid #ddd;
}
.loginRegisterBox .loginRegister .registerDrag {
  position: relative;
  height: 2.1875rem;
  line-height: 2.1875rem;
  outline: none;
  background-color: #ccc;
  text-align: center;
  margin-bottom: 1rem;
}
.loginRegisterBox .loginRegister .registerDragNew {
  position: relative;
  outline: none;
  background-color: #ddd;
  text-align: center;
  margin-bottom: 1rem;
}
.loginRegisterBox .loginRegister .registerDrag .dragImg {
  position: absolute;
  left: 0;
  top: -0.0625rem;
  width: 2.5rem;
  height: 2.3125rem;
}
.loginRegisterBox .loginRegister .registerBtn {
  cursor: pointer;
  font-size: 0.8125rem;
  color: #fff;
  padding: 0.5625rem 0;
  text-align: center;
  background-color: #FF4720;
}
.loginRegisterBox .loginRegister #goToLogin {
  background-color: #169bd5;
}
.loginRegisterBox .findPsw {
  padding-top: 5rem;
  font-size: 0.875rem;
  text-align: center;
}
.loginRegisterBox .findPsw a {
  color: #169BD5;
}
#registerTip {
  display: none;
  padding-top: 0.625rem;
  color: red;
}
/*#drag*/
#drag {
  position: relative;
  background-color: #e8e8e8;
  width: 18.125rem;
  height: 2.125rem;
  text-align: center;
}
#drag .handler {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.125rem;
  cursor: move;
}
/*.handler_bg{
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo0ZDhlNWY5My05NmI0LTRlNWQtOGFjYi03ZTY4OGYyMTU2ZTYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTEyNTVEMURGMkVFMTFFNEI5NDBCMjQ2M0ExMDQ1OUYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTEyNTVEMUNGMkVFMTFFNEI5NDBCMjQ2M0ExMDQ1OUYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2MTc5NzNmZS02OTQxLTQyOTYtYTIwNi02NDI2YTNkOWU5YmUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NGQ4ZTVmOTMtOTZiNC00ZTVkLThhY2ItN2U2ODhmMjE1NmU2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+YiRG4AAAALFJREFUeNpi/P//PwMlgImBQkA9A+bOnfsIiBOxKcInh+yCaCDuByoswaIO/@remwjciACFegBqZ1AvBSIS5OTk/8TkmNEjwWgQiUgtQuIjwAxUF3yX3xyGIEIFLwHpKyAWB+I1xGSwxULIGf9A7mQkBwTlhBXAFLHgPgqEAcTkmNCU6AL9d8WII4HOvk3ITkWJAXWUMlOoGQHmsE45ViQ2KuBuASoYC4Wf+OUYxz6mQkgwAAN9mIrUReCXgAAAABJRU5ErkJggg==") no-repeat center;
}
.handler_ok_bg{
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo0ZDhlNWY5My05NmI0LTRlNWQtOGFjYi03ZTY4OGYyMTU2ZTYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDlBRDI3NjVGMkQ2MTFFNEI5NDBCMjQ2M0ExMDQ1OUYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDlBRDI3NjRGMkQ2MTFFNEI5NDBCMjQ2M0ExMDQ1OUYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNWEzMWNhMC1hYmViLTQxNWEtYTEwZS04Y2U5NzRlN2Q4YTEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NGQ4ZTVmOTMtOTZiNC00ZTVkLThhY2ItN2U2ODhmMjE1NmU2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+k+sHwwAAASZJREFUeNpi/P//PwMyKD8uZw+kUoDYEYgloMIvgHg/EM/ptHx0EFk9I8wAoEZ+IDUPiIMY8IN1QJwENOgj3ACo5gNAbMBAHLgAxA4gQ5igAnNJ0MwAVTsX7IKyY7L2UNuJAf+AmAmJ78AEDTBiwGYg5gbifCSxFCZoaBMCy4A4GOjnH0D6DpK4IxNSVIHAfSDOAeLraJrjgJp/AwPbHMhejiQnwYRmUzNQ4VQgDQqXK0ia/0I17wJiPmQNTNBEAgMlQIWiQA2vgWw7QppBekGxsAjIiEUSBNnsBDWEAY9mEFgMMgBk00E0iZtA7AHEctDQ58MRuA6wlLgGFMoMpIG1QFeGwAIxGZo8GUhIysmwQGSAZgwHaEZhICIzOaBkJkqyM0CAAQDGx279Jf50AAAAAABJRU5ErkJggg==") no-repeat center;
}*/
.handler_bg {
  background: url("../image/loginRegister/dragBlock.png") no-repeat;
  background-size: 100% 100%;
}
.handler_ok_bg {
  background: url("../image/loginRegister/dragBlock.png") no-repeat;
  background-size: 100% 100%;
}
#drag .drag_bg {
  background-color: #7ac23c;
  height: 2.125rem;
  width: 0rem;
}
#drag .drag_text {
  position: absolute;
  top: 0rem;
  width: 18.75rem;
  padding-top: 0.3125rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
