body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1477px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:0px;
  top:25px;
  width:1200px;
  height:120px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:52px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1246 {
  position:absolute;
  left:30px;
  top:37px;
  width:80px;
  height:80px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:55px;
  top:124px;
  width:28px;
  height:16px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1203px;
  height:5px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:145px;
  width:1200px;
  height:2px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1253 {
  position:absolute;
  left:16px;
  top:173px;
  width:137px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1255_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1255 {
  position:absolute;
  left:8px;
  top:174px;
  width:2px;
  height:18px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u1258 {
  position:absolute;
  left:190px;
  top:95px;
  width:60px;
  height:16px;
  color:#FF3300;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1260 {
  position:absolute;
  left:193px;
  top:43px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1262 {
  position:absolute;
  left:190px;
  top:93px;
  width:60px;
  height:1px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u1265 {
  position:absolute;
  left:294px;
  top:95px;
  width:100px;
  height:16px;
  color:#FF3300;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1267 {
  position:absolute;
  left:316px;
  top:43px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1269 {
  position:absolute;
  left:313px;
  top:93px;
  width:60px;
  height:1px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1273 {
  position:absolute;
  left:45px;
  top:216px;
  width:200px;
  height:200px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  position:absolute;
  left:45px;
  top:386px;
  width:200px;
  height:30px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1278 {
  position:absolute;
  left:49px;
  top:394px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:204px;
  top:393px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1281 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282 {
  position:absolute;
  left:45px;
  top:216px;
  width:200px;
  height:200px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1285 {
  position:absolute;
  left:749px;
  top:216px;
  width:200px;
  height:200px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  position:absolute;
  left:749px;
  top:386px;
  width:200px;
  height:30px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1290 {
  position:absolute;
  left:753px;
  top:394px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1291 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1292 {
  position:absolute;
  left:908px;
  top:393px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  position:absolute;
  left:749px;
  top:216px;
  width:200px;
  height:200px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1297 {
  position:absolute;
  left:280px;
  top:216px;
  width:200px;
  height:200px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:280px;
  top:386px;
  width:200px;
  height:30px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1302 {
  position:absolute;
  left:284px;
  top:394px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1304 {
  position:absolute;
  left:439px;
  top:393px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:280px;
  top:216px;
  width:200px;
  height:200px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1309 {
  position:absolute;
  left:514px;
  top:216px;
  width:200px;
  height:200px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:514px;
  top:386px;
  width:200px;
  height:30px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1314 {
  position:absolute;
  left:518px;
  top:394px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:673px;
  top:393px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:514px;
  top:216px;
  width:200px;
  height:200px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1321 {
  position:absolute;
  left:983px;
  top:216px;
  width:200px;
  height:200px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  position:absolute;
  left:983px;
  top:386px;
  width:200px;
  height:30px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1326 {
  position:absolute;
  left:987px;
  top:394px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:1142px;
  top:393px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:983px;
  top:216px;
  width:200px;
  height:200px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:45px;
  top:426px;
  width:1138px;
  height:22px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:3px;
  width:1134px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u1335 {
  position:absolute;
  left:579px;
  top:434px;
  width:13px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1336 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1338 {
  position:absolute;
  left:16px;
  top:483px;
  width:143px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1340_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1340 {
  position:absolute;
  left:8px;
  top:484px;
  width:2px;
  height:18px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:1226px;
  top:580px;
  width:225px;
  height:140px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:10px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u1344 {
  position:absolute;
  left:1183px;
  top:437px;
  width:0px;
  height:0px;
}
#u1344_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u1344_seg1 {
  position:absolute;
  left:152px;
  top:-4px;
  width:8px;
  height:147px;
}
#u1345 {
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1348 {
  position:absolute;
  left:45px;
  top:526px;
  width:200px;
  height:200px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  position:absolute;
  left:45px;
  top:696px;
  width:200px;
  height:30px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1353 {
  position:absolute;
  left:49px;
  top:704px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1354 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1355 {
  position:absolute;
  left:204px;
  top:703px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  position:absolute;
  left:45px;
  top:526px;
  width:200px;
  height:200px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1360 {
  position:absolute;
  left:749px;
  top:526px;
  width:200px;
  height:200px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:749px;
  top:696px;
  width:200px;
  height:30px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:753px;
  top:704px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1367 {
  position:absolute;
  left:908px;
  top:703px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:749px;
  top:526px;
  width:200px;
  height:200px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1372 {
  position:absolute;
  left:280px;
  top:526px;
  width:200px;
  height:200px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  position:absolute;
  left:280px;
  top:696px;
  width:200px;
  height:30px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1377 {
  position:absolute;
  left:284px;
  top:704px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1379 {
  position:absolute;
  left:439px;
  top:703px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:280px;
  top:526px;
  width:200px;
  height:200px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1384 {
  position:absolute;
  left:514px;
  top:526px;
  width:200px;
  height:200px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  position:absolute;
  left:514px;
  top:696px;
  width:200px;
  height:30px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1389 {
  position:absolute;
  left:518px;
  top:704px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1391 {
  position:absolute;
  left:673px;
  top:703px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  position:absolute;
  left:514px;
  top:526px;
  width:200px;
  height:200px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1396 {
  position:absolute;
  left:983px;
  top:526px;
  width:200px;
  height:200px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1399 {
  position:absolute;
  left:983px;
  top:696px;
  width:200px;
  height:30px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:987px;
  top:704px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1403 {
  position:absolute;
  left:1142px;
  top:703px;
  width:37px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:983px;
  top:526px;
  width:200px;
  height:200px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  position:absolute;
  left:45px;
  top:736px;
  width:1138px;
  height:22px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:3px;
  width:1134px;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u1410 {
  position:absolute;
  left:579px;
  top:744px;
  width:13px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1411 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412 {
  position:absolute;
  left:1183px;
  top:747px;
  width:0px;
  height:0px;
}
#u1412_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u1412_seg1 {
  position:absolute;
  left:152px;
  top:-27px;
  width:8px;
  height:31px;
}
#u1413 {
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1415 {
  position:absolute;
  left:749px;
  top:60px;
  width:380px;
  height:35px;
  color:#CCCCCC;
  text-align:left;
}
#u1416 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u1417 {
  position:absolute;
  left:1060px;
  top:60px;
  width:70px;
  height:35px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 79, 13, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:1134px;
  top:60px;
  width:127px;
  height:35px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:756px;
  top:65px;
  width:300px;
  height:25px;
}
#u1421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 79, 13, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:1073px;
  top:162px;
  width:127px;
  height:35px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1424 {
  position:absolute;
  left:1218px;
  top:283px;
  width:156px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1425 {
  position:absolute;
  left:10px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1426 {
  position:absolute;
  left:1200px;
  top:180px;
  width:0px;
  height:0px;
}
#u1426_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  height:8px;
}
#u1426_seg1 {
  position:absolute;
  left:5px;
  top:-4px;
  width:8px;
  height:133px;
}
#u1426_seg2 {
  position:absolute;
  left:5px;
  top:121px;
  width:13px;
  height:8px;
}
#u1427 {
  position:absolute;
  left:-41px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1429 {
  position:absolute;
  left:16px;
  top:791px;
  width:103px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1431_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1431 {
  position:absolute;
  left:8px;
  top:792px;
  width:2px;
  height:18px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:516px;
}
#u1433 {
  position:absolute;
  left:296px;
  top:826px;
  width:887px;
  height:515px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:250px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u1436 {
  position:absolute;
  left:441px;
  top:95px;
  width:69px;
  height:16px;
  color:#FF3300;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1438 {
  position:absolute;
  left:435px;
  top:43px;
  width:81px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
  text-align:center;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1440 {
  position:absolute;
  left:446px;
  top:93px;
  width:60px;
  height:1px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1442 {
  position:absolute;
  left:516px;
  top:93px;
  width:182px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1443 {
  position:absolute;
  left:10px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1444 {
  position:absolute;
  left:1210px;
  top:27px;
  width:267px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1445 {
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1446 {
  position:absolute;
  left:1218px;
  top:145px;
  width:182px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1447 {
  position:absolute;
  left:10px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:25px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1451 {
  position:absolute;
  left:17px;
  top:4px;
  width:57px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#666666;
}
#u1453 {
  position:absolute;
  left:79px;
  top:4px;
  width:59px;
  height:16px;
  text-decoration:underline;
  color:#666666;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1456 {
  position:absolute;
  left:1040px;
  top:4px;
  width:36px;
  height:16px;
  color:#666666;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1458 {
  position:absolute;
  left:1093px;
  top:4px;
  width:54px;
  height:16px;
  color:#666666;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u1460 {
  position:absolute;
  left:1084px;
  top:6px;
  width:1px;
  height:12px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1462 {
  position:absolute;
  left:1164px;
  top:4px;
  width:30px;
  height:16px;
  color:#666666;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u1464 {
  position:absolute;
  left:1155px;
  top:6px;
  width:1px;
  height:12px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1468 {
  position:absolute;
  left:1060px;
  top:4px;
  width:28px;
  height:16px;
  color:#666666;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1470 {
  position:absolute;
  left:1042px;
  top:5px;
  width:15px;
  height:15px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF3300;
}
#u1472 {
  position:absolute;
  left:1107px;
  top:5px;
  width:39px;
  height:14px;
  font-size:12px;
  text-decoration:underline;
  color:#FF3300;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u1474 {
  position:absolute;
  left:1097px;
  top:6px;
  width:1px;
  height:12px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476 {
  position:absolute;
  left:79px;
  top:30px;
  width:99px;
  height:297px;
}
#u1476_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:105px;
  height:303px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:302px;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
}
#u1478_img.mouseOver {
}
#u1478.mouseOver {
}
#u1479 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1480 {
  position:absolute;
  left:0px;
  top:27px;
  width:99px;
  height:30px;
}
#u1480_img.mouseOver {
}
#u1480.mouseOver {
}
#u1481 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:57px;
  width:99px;
  height:30px;
}
#u1482_img.mouseOver {
}
#u1482.mouseOver {
}
#u1483 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1484 {
  position:absolute;
  left:0px;
  top:87px;
  width:99px;
  height:30px;
}
#u1484_img.mouseOver {
}
#u1484.mouseOver {
}
#u1485 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:117px;
  width:99px;
  height:30px;
}
#u1486_img.mouseOver {
}
#u1486.mouseOver {
}
#u1487 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1488 {
  position:absolute;
  left:0px;
  top:147px;
  width:99px;
  height:30px;
}
#u1488_img.mouseOver {
}
#u1488.mouseOver {
}
#u1489 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1490 {
  position:absolute;
  left:0px;
  top:177px;
  width:99px;
  height:30px;
}
#u1490_img.mouseOver {
}
#u1490.mouseOver {
}
#u1491 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:207px;
  width:99px;
  height:30px;
}
#u1492_img.mouseOver {
}
#u1492.mouseOver {
}
#u1493 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:237px;
  width:99px;
  height:30px;
}
#u1494_img.mouseOver {
}
#u1494.mouseOver {
}
#u1495 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:267px;
  width:99px;
  height:30px;
}
#u1496_img.mouseOver {
}
#u1496.mouseOver {
}
#u1497 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
