body {
  font-size: 12px;
  overflow: auto;
}
.containerWrap {
  background: url(../images/commonImg/top.png) center top no-repeat;
  width: 100%;
}
#header-wrap {
  height: auto;
  background: none;
  position: inherit;
}
@media screen and (max-width: 560px) {
  #header-wrap .header {
    margin-bottom: -42px;
  }
}
#header-wrap .header {
  padding-top: 60px;
  overflow: hidden;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .logo {
    width: 955px;
    height: 161px;
    background: url(../images/commonImg/logo.png) no-repeat;
    margin: 0 auto;
    margin-bottom: 128px;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .logo {
    width: 100%;
    height: 161px;
    background: url(../images/commonImg/logo.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 560px) {
  #header-wrap .header .menu {
    width: 1151px;
    height: 67px;
    background: url(../images/commonImg/menu.png) no-repeat;
  }
  #header-wrap .header #pcMenu {
    display: block;
  }
  #header-wrap .header #mobileMenu {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .menu {
    width: 100%;
    background: #1f85d9;
  }
  #header-wrap .header #pcMenu {
    display: none;
  }
  #header-wrap .header #mobileMenu {
    display: block;
  }
}
#header-wrap .header .menu {
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .menu .ta {
    right: 77px;
    width: 661px;
    height: 364px;
    background: url(../images/commonImg/ta.png) no-repeat;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .menu .ta {
    width: 100%;
    height: 418px;
    background: url(../images/commonImg/ta.png) no-repeat;
  }
}
#header-wrap .header .menu .ta {
  position: absolute;
  bottom: 67px;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .menu ul {
    padding-top: 11px;
    width: 1025px;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .menu ul {
    width: 100%;
  }
}
#header-wrap .header .menu ul {
  overflow: hidden;
  margin: 0 auto;
  height: 35px;
  line-height: 30px;
  /*.ge{
                    width: 2px!important;
                    height: 35px!important;
                    background: url(../images/commonImg/ge.png) no-repeat;
                    float: left;
                    padding: 0!important;
                }*/
}
@media screen and (min-width: 560px) {
  #header-wrap .header .menu ul li {
    padding: 0 27px;
    background: url(../images/commonImg/ge.png) no-repeat right -2px;
    background-size: 2px 36px;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .menu ul li {
    width: 33.33%;
  }
}
#header-wrap .header .menu ul li {
  float: left;
  text-align: center;
}
#header-wrap .header .menu ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: block;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .menu ul li:first-child {
    padding: 0 10px;
  }
}
#header-wrap .header .menu ul li:first-child a {
  line-height: 25px;
  width: 65px;
}
#header-wrap .header .menu ul li:last-child {
  background: none;
}
#header-wrap .header .menu ul .active a {
  color: #ffce00;
  height: 25px;
  background: url(../images/commonImg/shadow.png) left no-repeat;
  background-size: 100% 100%;
}
#header-wrap .header .menu #mobileMenu {
  position: relative;
  z-index: 999;
  height: auto;
}
#header-wrap .header .menu #mobileMenu li {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 41px;
  color: #fff;
}
#header-wrap .header .menu #mobileMenu .active {
  background-color: #004e8e;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .tas {
    width: 979px;
    overflow: hidden;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .tas {
    width: 100%;
  }
}
#header-wrap .header .tas {
  background: url(../images/commonImg/shadowBg.jpg) top repeat-x;
  height: 55px;
  border-left: 1px solid #b3dce9;
  border-right: 1px solid #b3dce9;
  margin: 0 auto;
  margin-top: -18px;
  line-height: 55px;
  padding: 0 10px;
  background-color: #fff;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .tas span {
    float: left;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .tas span {
    float: inherit;
  }
}
#header-wrap .header .tas .tq {
  width: 456px;
  margin-top: 16px;
  margin-left: 20px;
}
#header-wrap .header .tas .tq .marquee {
  position: relative;
  top: -14px;
}
@media screen and (min-width: 560px) {
  #header-wrap .header .tas .search {
    float: right;
  }
}
@media screen and (max-width: 560px) {
  #header-wrap .header .tas .search {
    float: inherit;
    position: relative;
    top: -56px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
#header-wrap .header .tas .search {
  margin-top: 14px;
  margin-right: 0;
}
#header-wrap .header .tas .search .txt {
  color: #d8d8d8;
  width: 206px;
  height: 24px;
  border: 1px solid #ccc;
  border-right: 0;
  float: left;
  line-height: 24px;
  padding-left: 5px;
}
#header-wrap .header .tas .search .sbm {
  cursor: pointer;
  font-weight: bold;
  float: left;
  background-color: #ff8c00;
  height: 26px;
  width: 65px;
  text-align: center;
  color: #fff;
  border: 0;
  line-height: 26px;
}
.footerBox .footer {
  max-width: 1000px;
  height: 145px;
  margin: 0 auto;
  margin-top: 13px;
}
.footerBox .footer .botmenu {
  max-width: 1000px;
  height: 31px;
  line-height: 31px;
  background: url(../images/commonImg/botBg.jpg) no-repeat;
  text-align: center;
  color: #fff;
}
.footerBox .footer .botmenu a {
  color: #fff;
}
.footerBox .footer .bot {
  height: 94px;
  line-height: 30px;
  text-align: center;
  color: #666;
  position: relative;
  padding-top: 20px;
}
.footerBox .footer .bot a {
  display: block;
  width: 65px;
  height: 66px;
  position: absolute;
  top: 15px;
}
@media screen and (max-width: 560px) {
  .footerBox .footer .bot a img {
    width: 40px;
  }
}
.footerBox .footer .bot a img {
  border: 0;
}
@media screen and (min-width: 560px) {
  .footerBox .footer .bot .leftImg {
    left: 240px;
  }
  .footerBox .footer .bot .rightImg {
    right: 240px;
  }
}
@media screen and (max-width: 560px) {
  .footerBox .footer .bot .leftImg {
    top: 30px;
    left: 0px;
  }
  .footerBox .footer .bot .rightImg {
    top: 30px;
    right: 0px;
  }
}
.footerBox .footer #_ideConac {
  position: relative;
  top: -82px;
  left: 60px;
}
