<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/m.css" rel="stylesheet" type="text/css" />
	<qscms:load type="category"/>
</head>
<body>
<include file="public:header_m" />
<div id="banner-block">
    <div class="banner-wrap android">
        <div class="container">
            <div class="a-text-wrap">
                <h1> a good job ， In your cell phone </h1>
                <h3> New interactive experience    Easily find a job </h3>
                <div class="down-code clearfix">
                    <a href="{:C('qscms_site_domain').U('Mobile/Index/app_download')}" class="f-left android-download"></a>
                    <div class="down-code-box f-left">
                        <img src="{:C('qscms_site_dir')}index.php?m=Home&c=Qrcode&a=index&url={:urlencode(C('qscms_site_domain').U('Mobile/Index/app_download'))}" alt=" QR code " width="100" height="100" />
                        <p> Swept the phone ， download APP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-app-sp container clearfix">
    <div class="mobile-app-item f-left">
        <div class="ma-icon icon-one"></div>
        <h4> Amoy talent </h4>
        <p> Quick search talent resume database </p>
        <p> Smart match the appropriate talent resume </p>
    </div>
    <div class="mobile-app-item f-left">
        <div class="ma-icon icon-two"></div>
        <h4> shake </h4>
        <p> Easy to shake around </p>
        <p> Job information ， Convenient </p>
    </div>
    <div class="mobile-app-item f-left">
        <div class="ma-icon icon-three"></div>
        <h4> Map search </h4>
        <p> Live positioning ， Intuitively grounded </p>
        <p> See where the company is located </p>
    </div>
    <div class="mobile-app-item f-left">
        <div class="ma-icon icon-four"></div>
        <h4> Message push </h4>
        <p> Real-time acceptance of the latest recruitment letter </p>
        <p> interest 、 Job search ， Efficient and convenient </p>
    </div>
</div>
<div class="m-main">
    <div class="m-row odd">
        <div class="container clearfix">
            <div class="row-left-text f-left">
                <h2> Search posts </h2>
                <p> Support multiple job search conditions ， Convenient job level <br /> station ， For job seekers to provide the largest job selection space 。</p>
            </div>
            <div class="row-right-box f-right">
                <div class="phone-block android-phone">
                    <div class="app-img"><img src="../public/images/179.jpg" alt="" /></div>
                </div>
                <div class="enlarge-block"></div>
            </div>
        </div>
    </div>
    <div class="m-row">
        <div class="container clearfix">
            <div class="row-left-img f-left">
                <img src="../public/images/180.png" alt="" />
            </div>
            <div class="row-right-text f-right">
                <h2> Resume </h2>
                <p> Individual members post resumes ， Let the business find your resume ，<br /> Fun to find the phone to find work efficient and efficient 。</p>
            </div>
        </div>
    </div>
    <div class="m-row odd">
        <div class="container clearfix">
            <div class="row-left-text f-left">
                <h2> Position </h2>
                <p> Implementing Pocket Smart Registered Members to post related positions ， even if <br /> Not on the computer ， But also anytime, anywhere to achieve recruitment 。</p>
            </div>
            <div class="row-right-box f-right">
                <div class="phone-block android-phone">
                    <div class="app-img"><img src="../public/images/181.jpg" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="public:footer_min" />
</body>
</html>