<div class="modify_user_dialog">
	<div class="tip">
		 After the user name has been modified successfully ， The original user name will not be able to log in ！
	</div>
	<div class="content">
		<div class="td1"><span class="asterisk"></span>&nbsp; original user name ：</div>
		<div class="td2 p"><strong>{$visitor.username}</strong></div>
		<div class="clear"></div>
		<div class="td1"><span class="asterisk"></span>&nbsp; new user name ：</div>
		<div class="td2">
			<input id="J_usernameInput" type="text" value="" class="input_245_34" name="username" placeholder=" please enter 6-18 Character ">
		</div>
		<div class="clear"></div>
	</div>
</div>