/*selectBox*/
.selectBox .select {
  /*width:1200/@rem;*/
  margin: 0 auto;
  padding: 18px 0;
  line-height: 2rem;
}
.selectBox .select .selectPrice .price {
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  width: 3.5rem;
  text-align: center;
}
.selectBox .select .selectPrice a {
  padding-left: 0.5rem;
  color: #999;
}
.selectBox .select .selectPrice .active {
  color: #FF4720;
}
.selectBox .select .selectArea .area {
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  width: 3.5rem;
  text-align: center;
}
.selectBox .select .selectArea a {
  padding-left: 0.5rem;
  color: #999;
  display: inline-block;
}
.selectBox .select .selectArea .active {
  color: #FF4720;
}
/*tabsBox*/
.tabsBox {
  /*min-width: 1200/@rem;*/
  background-color: #F2F2F2;
}
.tabsBox .tabs {
  /*width:1200/@rem;*/
  margin: 0 auto;
  border-bottom: 2px solid #FF4720;
}
.tabsBox .tabs .tabsLeft {
  font-size: 0;
}
.tabsBox .tabs .tabsLeft .tabLink {
  display: inline-block;
  width: 3.5rem;
  line-height: 1.5rem;
  margin-top: 0.625rem;
  text-align: center;
  font-size: 0.8125rem;
  color: #333;
  padding: 2px 0;
  border-radius: 5px 5px 0 0;
}
.tabsBox .tabs .tabsLeft .active {
  background-color: #FF4720;
  color: #fff;
}
.tabsBox .tabs .tabsRight {
  text-align: right;
  /*padding-bottom: 4/@rem;*/
}
.tabsBox .tabs .tabsRight .tabBtn {
  width: 3.125rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #333;
  font-size: 0.8125rem;
  outline: none;
  background-color: #ffffff;
  margin-top: 0.625rem;
  border: 1px solid #333;
}
.tabsBox .tabs .tabsRight .tabBtn1 {
  border-radius: 5px 0 0 0.3125rem;
}
.tabsBox .tabs .tabsRight .tabBtn1Up:before {
  display: inline-block;
  content: "";
  border-top: 6px solid black;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  position: relative;
  top: 0.1875rem;
}
.tabsBox .tabs .tabsRight .tabBtn1Down:before {
  display: inline-block;
  content: "";
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid black;
  border-left: 4px solid transparent;
  position: relative;
  top: -0.125rem;
}
.tabsBox .tabs .tabsRight .tabBtn2 {
  margin-right: 0.5rem;
  border-radius: 0 5px 5px 0;
  border-left: 0;
}
.tabsBox .tabs .tabsRight .tabBtn2Up:before {
  display: inline-block;
  content: "";
  border-top: 6px solid black;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  position: relative;
  top: 0.1875rem;
}
.tabsBox .tabs .tabsRight .tabBtn2Down:before {
  display: inline-block;
  content: "";
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid black;
  border-left: 4px solid transparent;
  position: relative;
  top: -0.125rem;
}
/*goodsBox*/
.goodsBox {
  margin-top: 0.625rem;
}
.goodsBox .goods {
  cursor: pointer;
  /*width:1200/@rem;*/
  margin: 0 auto;
  /*background-color: #baf;*/
  padding: 0.375rem;
  border-bottom: 1px solid #666;
}
.goodsBox .goods .goodsLeft {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.goodsBox .goods .goodsLeft img {
  width: 100%;
  height: 100%;
}
.goodsBox .goods .goodsLeft .tip {
  display: inline-block;
  width: 1.4375rem;
  height: 1.125rem;
  line-height: 1.125rem;
  color: #ffffff;
  font-size: 0.8125rem;
  text-align: center;
  background-color: #FF4720;
  position: absolute;
  right: 0;
  bottom: 0;
}
.goodsBox .goods .goodsMiddle {
  padding-left: 0.375rem;
}
.goodsBox .goods .goodsMiddle .goodName {
  font-size: 1rem;
  color: #3366FF;
  font-weight: bold;
}
.goodsBox .goods .goodsMiddle .goodDesc {
  font-size: 0.875rem;
  color: #999;
  /*padding-top:10/@rem;*/
}
.goodsBox .goods .goodsMiddle .goodDate {
  color: #333;
}
.goodsBox .goods .goodsRight {
  height: 5rem;
  line-height: 5rem;
  font-weight: bold;
  text-align: right;
}
.goodsBox .goods .goodsRight1 {
  font-size: 0.8125rem;
  color: #999999;
}
.goodsBox .goods .goodsRight2 {
  font-size: 1rem;
  color: red;
}
