/*headerBox*/
body {
  width: 100%;
}
.headerBox {
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #bfa;
}
.headerBox .left .logo {
  width: 100%;
  padding: 0 0.125rem;
}
.headerBox .middle {
  text-align: center;
  position: relative;
}
.headerBox .middle .address {
  color: #333333;
  font-size: 0.875rem;
}
.headerBox .middle .address:after {
  display: inline-block;
  content: "";
  border-top: 0.5rem solid #000000;
  border-right: 0.375rem solid transparent;
  border-bottom: 0.375rem solid transparent;
  border-left: 0.375rem solid transparent;
  position: relative;
  top: 0.5rem;
  left: 0.125rem;
}
.headerBox .middle .addressUl {
  position: absolute;
  width: 100%;
  text-align: center;
}
.headerBox .middle .addressUl .addressLi {
  margin: 0 auto;
  width: 6.375rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.8125rem;
  color: #333333;
  border: 0.0625rem solid #999999;
  border-bottom: none;
}
.headerBox .middle .addressUl .addressLi:last-child {
  border-bottom: 0.0625rem solid #cccccc;
}
.headerBox .right {
  text-align: right;
  padding-right: 0.125rem;
}
.headerBox .right .search {
  width: 1.875rem;
}
