body {
  background-color: #E9E9E9;
}
.loginBox {
  font-size: 0.37333333rem;
  margin: 2.77777778rem 0.2962963rem 0 0.2962963rem;
  background-color: #fff;
}
.loginBox .title {
  color: #56b4e4;
  height: 0.74074074rem;
  line-height: 0.74074074rem;
  padding-left: 0.24074074rem;
}
.loginBox .iptWrap {
  margin-top: 0.92592593rem;
}
.loginBox .iptWrap input {
  width: 100%;
  border: none;
  outline: none;
  height: 0.77777778rem;
  line-height: 0.77777778rem;
  text-indent: 0.24074074rem;
  color: #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.loginBox .password {
  position: relative;
}
.loginBox .password .getCode {
  position: absolute;
  right: 0.40740741rem;
  top: -0.12962963rem;
  height: 100%;
  display: flex;
  border-radius: 0.11111111rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 0.27777778rem;
  background-color: #757575;
  font-size: 0.37333333rem;
}
.loginBox .loginBtn {
  margin-top: 1.38888889rem;
  border: none;
  outline: none;
  width: 100%;
  height: 1.2962963rem;
  line-height: 1.2962963rem;
  text-align: center;
  color: #fff;
  background-color: #757575;
  font-size: 0.48rem;
}
.xieYi {
  padding-top: 0.5rem;
  font-size: 0.32rem;
  margin: 0 0.2962963rem;
  padding-left: 0.24074074rem;
}
.xieYi a {
  color: #56b4e4;
}
.otherCount {
  padding: 0.46296296rem 0;
  text-align: center;
}
.otherCount img {
  width: 0.98148148rem;
  margin-right: 0.64814815rem;
}
.otherCount img:last-child {
  margin-right: 0;
}
.otherTip {
  font-size: 0.37333333rem;
  color: #757575;
  text-align: center;
}
