@charset "utf-8";
/* CSS Document */

/*css reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6,em,i {
    font-weight: 100;
    font-style: normal;
}
li {
    list-style: none;
}
a {
    color: #666;
    text-decoration: none;
    outline: 0
}
a:hover {
    text-decoration: none;
}
img {
	display: block;
 }
input {
	border: 0;
	border-radius: 0;
	-webkit-appearance:none; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	outline:none;
}
input,button,select,textarea{outline:none;}
.clearfix{clear: both;}	
	
/*content*/
.xyw_con_box{
	background: url(../images/land_bj1.jpg) no-repeat top center;
	width: 100%;
	padding-top: 10%;
	overflow: hidden;
	min-height: 942px;
}
@media(max-width:1366px){
	.xyw_con_box{
	background: url(../images/land_bj1.jpg) no-repeat top center;
	width: 100%;
	padding: 10% 0 8% 0;
	overflow: hidden;
	background-size: 100%;
	}
}	
@media(max-width:1024px){
	.xyw_con_box{
	background: url(../images/land_bj1.jpg) no-repeat top center;
	width: 100%;
	padding: 10% 0 8% 0;
	overflow: hidden;
	background-size: 100%;
	}
}

@media(max-width:900px){
	.xyw_con_box{
	background: url(../images/land_bj1.jpg) no-repeat top center;
	width: 100%;
	padding: 10% 0 8% 0;
	overflow: hidden;
	background-size: 100%;
	}
}

@media(max-width:500px){
	.xyw_con_box{
	background: url(../images/land_bj1.jpg) no-repeat right center;
	width: 100%;
	padding: 36% 0 30% 0;
	overflow: hidden;
	}
}
	
.xyw_cen_box{
	width: 450px;
	margin: 0 auto;
	height: 100%;
}

@media (max-width: 1366px){
	.xyw_cen_box{
	width: 400px;
	margin: 0 auto;
	height: 100%;
	}
}
@media (max-width: 1024px){
	.xyw_cen_box{
	width: 220px;
	margin: 0 auto;
	height: 100%;
	}
}
@media (max-width: 900px){
	.xyw_cen_box{
	width: 220px;
	margin: 0 auto;
	height: 100%;
	}
}

@media (max-width: 500px){
	.xyw_cen_box{
	width: 240px;
	margin: 0 auto;
	height: 100%;
	}
}	

.xyw_logo{
	width: 100%;
	margin-bottom: 6%;
}
@media(max-width:1366px){
	.xyw_logo{
	width: 100%;
	margin-bottom: 3%;
	}
}	
@media(max-width:1024px){
	.xyw_logo{
	width: 100%;
	margin-bottom: 3%;
	}
}
@media(max-width:900px){
	.xyw_logo{
	width: 100%;
	margin-bottom: 3%;
	}
}
	
@media(max-width:500px){
	.xyw_logo{
	width: 100%;
	margin-bottom: 4%;
	}
}

.xyw_logo img{
	width: 100%;
	margin: 0 auto;
}
.xyw_form input{
	width:90%;
	line-height:70px;
	padding: 0 5%;
	background-size: 100%;
	margin: 2% 0; 
	border-radius: 16px;
	font-size: 24px;
	color: #666;
}
@media(max-width:1366px){
	.xyw_form input{
	width:90%;
	line-height:52px;
	padding: 0 5%;
	background-size: 100%;
	margin: 2% 0; 
	border-radius: 12px;
	font-size: 14px;
	color: #666;
	}
}
@media(max-width:1024px){
	.xyw_form input{
	width:90%;
	line-height:32px;
	padding: 0 5%;
	background-size: 100%;
	margin: 3% 0; 
	border-radius: 6px;
	font-size: 12px;
	color: #666;
	}
}
@media(max-width:900px){
	.xyw_form input{
	width:90%;
	line-height:32px;
	padding: 0 5%;
	background-size: 100%;
	margin: 3% 0; 
	border-radius: 6px;
	font-size: 12px;
	color: #666;
	}
}

#btn{
background-color:#fff; 
opacity: 0.8;
filter:alpha(opacity=80);   
-moz-opacity:0.8;   
-khtml-opacity: 0.8; 
border: 1px solid #B0B0B0;
}

.xyw_form .xyw_verification{
	width: 44%;
	margin-right: 6%;
	float: left;
}

.xyw_pic{
	width: 39%;
	float: left;
}
.xyw_pic img{
	width: 100%;
	margin-top: 5%;
	height: 70px;
}
@media(max-width:1366px){
	.xyw_pic img{
	width: 100%;
	margin-top:6%;
	height: 50px;
	}
}
@media(max-width:1024px){
	.xyw_pic img{
	width: 100%;
	margin-top: 9%;
	height: 30px;
	}
}
@media(max-width:900px){
	.xyw_pic img{
	width: 100%;
	margin-top: 9%;
	height: 30px;
	}
}
	
.xyw_click_login{
	width: 100%;
}
.xyw_click_login input{
	width: 100%;
	background: url(../images/djdl.png) no-repeat center center;
	background-size: 100%;
}
@media(max-width:1366px){
	.xyw_click_login input{
	width: 100%;
	background: url(../images/djdl.png) no-repeat center center;
	background-size: 100%;
	}
}
@media(max-width:1024px){
	.xyw_click_login input{
	width: 100%;
	background: url(../images/djdl.png) no-repeat center center;
	background-size: 100%;
	}
}
@media(max-width:900px){
	.xyw_click_login input{
	width: 100%;
	background: url(../images/djdl.png) no-repeat center center;
	background-size: 100%;
	}
}
	
.xyw_btn{
	width: 100%;
}
.xyw_forget{
	float: left;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
.xyw_forget a{
	width: 100%;
	color: #1A00FF;
	border-bottom: 1px solid #1A00FF;
	font-size: 24px;
	margin-left:180px;
	font-family: "宋体W12(P)"
}
@media(max-width:1366px){
	.xyw_forget{
		float: left;
		width: 100%;
		margin: 0 auto;
	}
	.xyw_forget a{
		width: 100%;
		color: #1A00FF;
		border-bottom: 1px solid #1A00FF;
		font-size: 18px;
		margin-left:160px;
		font-family: "宋体W12(P)"
	}
}
@media(max-width:1024px){
	.xyw_forget{
		float: left;
		width: 100%;
		margin: 0 auto;
	}
	.xyw_forget a{
		width: 100%;
		color: #1A00FF;
		border-bottom: 1px solid #1A00FF;
		font-size: 14px;
		margin-left:80px;
		font-family: "宋体W12(P)"
	}
}
@media(max-width:900px){
	.xyw_forget{
		float: left;
		width: 100%;
		margin: 0 auto;
	}
	.xyw_forget a{
		width: 100%;
		color: #1A00FF;
		border-bottom: 1px solid #1A00FF;
		font-size: 14px;
		margin-left:80px;
		font-family: "宋体W12(P)"
	}
}
.xyw_add{
	box-shadow: 1px 4px 10px #999;
}
