<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/members/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<include file="header" />
	<div class="ban_box">
		<div class="banner_list banner_list2"></div>
		<div class="banner_list banner_list3"></div>
		<div class="banner_list banner_list1"></div>
		<div class="maind">
			<div class="login">
				<!--用户名密码 log in  -->
				<div class="mob j_mob_show">
					<if condition="C('qscms_weixin_apiopen') and C('qscms_weixin_scan_login')">
			  			<div class="righttab J_hoverbut J_mob" title=" WeChat scan login "></div>
					</if>
  					<div class="tit">
  						<span class="switch_txt active">Login </span>
  						<if condition="C('qscms_sms_open') eq 1"><span class="switch_txt"> Phone dynamic code login </span></if>
  						<div id="forAccountLogin" class="switch_account link_blue" data-index="0"><a href="javascript:;"> Switch to account login </a></div>
  					</div>
					<div class="type_box active">
				    	<div class="err J_errbox"></div>
				        <div class="inputbox J_focus">
							<div class="imgbg"></div>
				        	<input type="text" class="input_login" name="username" id="username" placeholder=" phone number / Member name / mailbox "/> 
				        </div>
						<div class="inputbox J_focus">
						    <div class="imgbg pwd"></div>
							<input type="password" class="input_login pwd J_loginword" name="password" id="password" placeholder=" Please enter your password "  />
						</div>
						<div class="txtbox link_gray6">
							<div class="td1"><label><input name="expire" class="J_expire" checked="checked" type="checkbox" value="1" /> 7 Days automatically log on </label></div>				
							<div class="td2"><a href="{:U('members/user_getpass')}">Forget password ?</a></div>
						</div>
		 		        <div class="btnbox">
		 		        	<input class="btn_login J_hoverbut" type="button" id="J_dologin" value="Login" />
		 		        </div>
	        			<div class="qqbox">
						  	<div class="qtit">
							  		<div class="qtit_left">
										<notempty name="oauth_list">
										<if condition="!(count($oauth_list) eq 1 AND array_key_exists('weixin',$oauth_list))">
											使用合作账号Login
										</if>
										</notempty>
									</div>
								<if condition="C('qscms_sms_open') eq 1">
							  		<div class="qtit_right link_blue"><a id="forMobileLogin" href="javascript:;" data-index="1">使用 Phone dynamic code login </a></div>
						  		</if>
								<div class="clear"></div>
						  	</div>
						  	<div class="appsparent">
							    <div class="apps">
							    	<volist name="oauth_list" id="oauth">
								  		<if condition="$key neq 'weixin'">
											<a class="ali {$key}" href="{:U('callback/index',array('mod'=>$key,'type'=>'login'))}" title="{$oauth.name}账号Login"></a>
										</if>
									</volist>
								</div>
							</div>
					  		<div class="clear"></div>
						</div>
					</div>
					<div class="type_box">
				    	<div class="err J_errbox"></div>
				        <div class="inputbox J_focus">
							<div class="imgbg"></div>
				        	<input type="text" class="input_login" name="mobile" id="mobile" placeholder="请输入 phone number "/> 
				        </div>
						<div class="inputbox J_focus">
						    <div class="imgbg pwd"></div>
							<input type="text" class="input_login pwd code J_loginword" name="verfy_code" id="verfy_code" placeholder=" Please enter your phone verification code "  />
							<input class="btn_login code J_hoverbut" type="button" id="getVerfyCode" value=" get verification code " />
						</div>
						<div class="txtbox link_gray6">
							<div class="td1"><label><input name="expire_obile" class="J_expire" checked="checked" type="checkbox" value="1" /> 7 Days automatically log on </label></div>					
							<div class="td2"><a href="{:U('members/user_getpass')}">Forget password ?</a></div>
						</div>
		 		        <div class="btnbox">
		 		        	<input class="btn_login J_hoverbut" type="button" id="J_dologinByMobile" value=" log in " />
		 		        </div>
	        			<div class="qqbox">
						  	<div class="qtit">
						  		<div class="qtit_left">使用合作账号 log in </div>
						  		<div class="qtit_right link_blue"></div>
						  		<div class="clear"></div>
						  	</div>
					  		<div class="appsparent">
							    <div class="apps">
							    	<volist name="oauth_list" id="oauth">
								  		<if condition="$key neq 'weixin'">
											<a class="ali {$key}" href="{:U('callback/index',array('mod'=>$key,'type'=>'login'))}" title="{$oauth.name}账号 login "></a>
										</if>
									</volist>
								</div>
							</div>
					  		<div class="clear"></div>
						</div>
					</div>
				</div>
				<!--二维码的 log in  -->
				<if condition="C('qscms_weixin_apiopen') and C('qscms_weixin_scan_login')">
					<div class="qr_code J_qr_code_show">
					    <div class="righttab J_hoverbut J_qr_code" title="账号密码 log in "></div>
						<div class="tit"> Micro letter sweep code ，安全 log in </div>
					    <div id="J_weixinQrCode" class="code"></div>
					    <div class="txt"> turn on   Mobile phone micro letter  <br /> 扫一扫 log in </div>
					</div>
				</if>
			</div>
		</div>
	</div>
	<input type="hidden" id="J_loginType" value="0">
	<input type="hidden" id="verify_userlogin" value="{$verify_userlogin}">
    <input type="hidden" id="J_captcha_open" value="<if condition="C('qscms_captcha_open') eq 1 && C('qscms_captcha_config.varify_mobile') eq 1">1<else/>0</if>" />
	<input type="button" id="btnCheck" style="display:none;">
	<input type="hidden" id="J_sendVerifyType" value="0">
	<div id="popup-captcha"></div>
	<include file="public:footer_min" />
	<script type="text/javascript" src="../public/js/jquery.login.js"></script>
	<script src="../public/js/members/jquery.common.js" type="text/javascript" language="javascript"></script>
	<script src="http://static.geetest.com/static/tools/gt.js"></script>
</body>
</html>