/*
* @Author: 37940
* @Date:   2017-06-27 21:29:58
* @Last Modified by:   37940
* @Last Modified time: 2017-07-07 12:44:05
*/

/* Sandy批阅：由于页面远程引用了reset.css，做了基本的页面样式的重置
   如果没有引入的话，要了解到需要对哪些元素进行重置样式的设置
   比如a标签的text-decoration，li标签的list-style，margin:0;padding:0;以及清除浮动的写法等等
*/

/* Sandy批阅：页面没写min-height,在视口高度较小的时候，后侧内容会溢出 */
body{
		 display: block;
		 margin:0;
		 box-sizing:border-box;
}
.container-left .left-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(http://coding.imweb.io/img/project/resume/bg.png) repeat -1px -19px;
    opacity: .6;
    animation: flashing 4s linear infinite;
}
@keyframes flashing {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.3;
    }
}

 @media(min-width:768px){
 		body{
 			display:flex;
 		}
 		.container-left,.container-right{
			flex:1;
 		}
 		.container-left{
 			min-height: 540px;		
 		}
 		.left-content{
 			display: flex;
 			flex-direction:column;
 			justify-content:center;
 			align-items:center; 
 		}
 }

.container-left{
	position:relative;
	background-color: #188eee;
	color: white;
}

.left-content{
 	min-height: 540px;
 	height: 100vh;
 	display: flex;
 	flex-direction:column;
 	justify-content:center;
 	align-items:center; 
 	z-index: 1;


}
/* Sandy批阅：右侧没有写垂直居中，下次修改用flex布局写垂直居中 */
/* Sandy批阅：right部分，想预留边距的话，最好对称写边距，而不只是写left边距，注意界面的美观和对称性。 */
 .container-right{
	margin-left:25px;
}
/* Sandy批阅：头像可以稍微小一点，否则页面内容可能会头重脚轻 */
 .avatar{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	margin-bottom: 10px;
	vertical-align: middle;
	display: block;
	z-index: 2;

}

/* Sandy批阅：
	建议使用animation-direction:alternate属性来实现来回循环实现动画的自然过渡 
	这里的动画时间是1s，时间太短，动画效果给人造成很急促的感觉，建议加长至3-4s
*/
.avatar:hover {
    animation: avaflick 1s infinite;
}
@keyframes avaflick {
    0% {
        box-shadow: 0 0 1px 1px rgba(255,255,255, 0.3);
    }
    50% {
        box-shadow: 0 0 15px 10px rgba(255,255,255, 0.3);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(255,255,255, 0.3);
    }
}
.my-name{
	font-size: 24px;
	font-weight: normal;
}

.contact-li {
	list-style-type: none;  
	line-height: 2;
	padding:30px 0 ; 
	text-align: left;
	display: inline-block;
	position:relative;


}
.contact-li .contact-icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	text-align: center;
	border:1px solid white;
	border-radius: 50%;
	margin:5px;

}
.contact-li a{
	text-decoration: none;
	color:white;
}

/* Sandy批阅：建议用蓝色border，和蓝色的box-shadow，和背景比较贴合 */
.my-info{
    font-size: 12px;
	border:1px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}


.my-info td{
	padding:5px 10px 5px ;
	margin:0 auto;

}
/* Sandy批阅：这里写漏了吗？ */
.my-info tr{
	padding:;
}
.right-hd{
	position:relative;
	text-align: center;
	margin-top:20px;

} 
.right-hd::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
}
.right-tt{
	position: relative;
	font-size: 20px;
	padding:0 5px;
	color: #188eee;
	background-color: #f5f5f5;
	display: inline-block;
}

/* Sandy批阅：左侧的line要求有渐变 */
/* Sandy批阅：这里单独写一个line的div，用渐变背景从top方向填充就可以完成这个渐变的line了 */
.sandy-line{
	width: 2px;
	height: 262px;
	background: -webkit-linear-gradient( top, rgba(202,202,202,1), rgba(255,255,255,0) );
}
.my-experience{
	border-left: 1px #ccc solid;
	padding:0 20px;
	position:relative;
}
.my-experience,.my-advantages{
	
	margin:0 10px;
}
/* Sandy批阅：注意每一个exp之间的间距，现在太拥挤 */
/* Sandy批阅：注意增加一下top定位，目前圆点的位置偏高 */
.exp::before{
	content: "";
	height:10px;
	width: 10px;
	background-color: #188eee;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left:-5px;	
	box-shadow: 0 0 0 3px rgba(24, 142, 238, 0.2);
}
/* Sandy批阅：
	建议使用animation-direction:alternate属性来实现来回循环实现动画的自然过渡 
	这里的动画时间是1s，时间太短，动画效果给人造成很急促的感觉，建议加长至3-4s
*/
.exp:hover::before
{
    animation: spread 1s infinite;
}
@keyframes spread {
    0% {
        box-shadow: 0 0 1px 1px rgba(24, 142, 238, 0.2);
    }
    50% {
        box-shadow: 0 0 5px 5px rgba(24, 142, 238, 0.2);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(24, 142, 238, 0.2);
    }
}

.exp .exp-sum{
	line-height:1.5;
}

/* .exp .exp-sum::before{

} */
.exp .exp-details{
	color: #999;
}

.my-advantages .ad{
	line-height: 2;	
	position:relative;
	width: 100%;
}


.ad .ad-schedule{

	height: 3px;
	width:100%;
    background: linear-gradient(to right, #117ad4, #188eee, #10b1ed) no-repeat;
	margin-bottom: 20px;
	margin:10px 0;
	transform-origin:left;
}
.ad:nth-child(1) .ad-schedule{
	transform:scaleX(0.3);
}	
.ad:nth-child(2) .ad-schedule{
	transform:scaleX(0.9);
}
.ad:nth-child(3) .ad-schedule{
	transform:scaleX(0.5);
}
.ad:hover .ad-schedule{
	animation:schedule 1s both;
}
/* Sandy批阅：可以用transform: scale3d(0,0,0);启动GPU，可以让动画更加流畅顺滑。 */
@keyframes schedule{
	0%{
		transform:scaleX(0);
	}
}

/* Sandy批阅：网页最小的字体大小是12px，注意补这些基本知识。 */
.ad .ad-level{
	position:absolute;
	top:15px;
	right:0;
	display: inline-block;
	border:1px #999 solid;
	border-radius: 10px;
	font-size: 10px;
	line-height: 15px;
	padding:0 5px;
}

.ad-level,.ad-detail{
	color: #999;
}
