@rem : 108rem;

.wrapper{
  .navBox{
    display: flex;
    align-items: center;
    .item{
      flex-grow: 1;
      text-align: center;
      .item_icon{
        width: 66px;
      }
      .item_name{

      }
    }
  }
}