body{
    overflow: auto;
    /*background-color: #E9E9E9;*/
}

/*searchBox*/
.searchBox{
    min-width: 1200px;
    /*background-color: #F2F2F2;*/
}
.searchBox .search{
    width:1200px;
    height:120px;
    margin:0 auto;
    /*background-color: #F2F2F2;*/
    background-color: #fff;
    border-bottom: 2px solid #FF4720;
}
.searchBox .search .searchLeft .part1{

}
.searchBox .search .searchLeft .part1 .headImg{
    text-align: center;
    padding: 12px 0 5px 0;
}
.searchBox .search .searchLeft .part1 .headImg img{
    /*cursor: pointer;*/
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.searchBox .search .searchLeft .part1 .name{
    font-size: 14px;
    color: #333;
    text-align: center;
}
.searchBox .search .searchLeft .part2{
    text-align: center;
    padding-top: 20px;
    width:120px;
}
.searchBox .search .searchLeft .leftSize{
    /*padding-right: 40px;*/
}
.searchBox .search .searchLeft .part2 .number{
    font-size: 48px;
    color: #3399FF;
    font-weight:bold;
    line-height:50px;
}
.searchBox .search .searchLeft .part2 .sort{
    font-size: 14px;
    color: #FF4720;
    border-top:1px solid #FF4720;
}
.searchBox .search .searchRight{
    text-align: right;
    line-height:120px;
    padding-right: 72px;
}
.searchBox .search .searchRight .ipt{
    width: 310px;
    height: 35px;
    line-height:35px;
    font-size: 13px;
    outline: none;
    text-indent: 10px;
    letter-spacing: 0;
    border: 1px solid #FF4720;
}
.searchBox .search .searchRight .searchImg{
    cursor: pointer;
    width:70px;
    margin-left:-6px;
}

/*publishBox*/
.publishBox{

}
.publishBox .publish{
    width:1200px;
    margin:0 auto;
}
.publishBox .publish .publishText{
    width: 1180px;
    height:120px;
    margin: 10px;
    resize: none;
    outline: none;
    padding: 5px;
    border: 1px solid #999;
}
.publishBox .publish .publishBtnBox{
    text-align: right;
    padding-right: 10px;
    padding-top: 16px;
}
.publishBox .publish .publishBtnBox .publishBtn{
    display: inline-block;
    text-align: center;
    width: 127px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #FF4720;
}

/*sellingBox*/
.sellingBox{

}
.sellingBox .selling{
    width:1200px;
    margin:0 auto;
    padding-bottom: 10px;
}
.sellingBox .selling .sellingTitle{
    font-size: 18px;
    color: #333;
    font-weight:bold;
    margin:16px 0;
}
.sellingBox .selling .sellingTitle .gang{
    color: #FF4720;
    padding-left: 5px;
}
.sellingBox .selling .sellingList{

}
.sellingBox .selling .sellingHeight{
    height: 210px;
    overflow: hidden;
}
.sellingBox .selling .sellingList .sellingLink{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 32px;
    border: 1px solid #FF4720;
    margin-bottom: 10px;
}
.sellingBox .selling .sellingList .sellingLink .goodImg{
    width: 100%;
    height: 100%;
}
.sellingBox .selling .sellingList .sellingLink .desc{
    display: none;
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    padding:0 6px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #FF4720;
}
.sellingBox .selling .sellingList .sellingLink .left{
    font-weight:bold;
}
.sellingBox .selling .sellingList .sellingLink .right{
    text-align: right;
}
.sellingBox .selling .more{
    background-color: #E6E6E6;
    font-size: 13px;
    text-align: center;
    height: 22px;
    line-height: 22px;
}
.sellingBox .selling .more .moreText{
    color: #333333;
}
.sellingBox .selling .more .moreText:before{
    display: inline-block;
    position: relative;
    top:5px;
    left:-4px;
    content: "";
    font-size: 0;
    border-top: 7px solid #333;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

/*likeBox*/
.likeBox{

}
.likeBox .like{
    width:1200px;
    margin:0 auto;
    padding-bottom: 10px;
}
.likeBox .like .likeTitle{
    font-size: 18px;
    color: #333;
    font-weight:bold;
    margin:16px 0;
}
.likeBox .like .likeTitle .gang{
    color: #FF4720;
    padding-left: 5px;
}
.likeBox .like .likeList{

}
.likeBox .like .likeHeight{
    height: 210px;
    overflow: hidden;
}
.likeBox .like .likeList .likeLink{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 32px;
    border: 1px solid #FF4720;
    margin-bottom: 10px;
}
.likeBox .like .likeList .likeLink .goodImg{
    width: 100%;
    height: 100%;
}
.likeBox .like .likeList .likeLink .desc{
    display: none;
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    padding:0 6px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #FF4720;
}
.likeBox .like .likeList .likeLink .left{
    font-weight:bold;
}
.likeBox .like .likeList .likeLink .right{
    text-align: right;
}
.likeBox .like .more{
    background-color: #E6E6E6;
    font-size: 13px;
    text-align: center;
    height: 22px;
    line-height: 22px;
}
.likeBox .like .more .moreText{
    color: #333333;
}
.likeBox .like .more .moreText:before{
    display: inline-block;
    position: relative;
    top:5px;
    left:-4px;
    content: "";
    font-size: 0;
    border-top: 7px solid #333;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

/*messageBox*/
.messageBox{

}
.messageBox .message{
    width:1200px;
    margin:0 auto;
    padding-bottom: 10px;
}
.messageBox .message .messageTitle{
    font-size: 18px;
    color: #333;
    font-weight:bold;
    margin:16px 0;
}
.messageBox .message .messageTitle .gang{
    color: #FF4720;
    padding-left: 5px;
}