/*detailBox*/
.detailBox {
  margin-bottom: 3.75rem;
}
.detailBox .detail {
  margin: 0 auto;
}
.detailBox .detail .detailLeft {
  position: relative;
  /*background-color: #bfa;*/
}
.detailBox .detail .detailLeft .headImg {
  display: inline-block;
  position: absolute;
  right: 0.625rem;
  top: 0.3125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
}
.detailBox .detail .detailLeft .getPhone {
  display: inline-block;
  position: absolute;
  right: 2.5rem;
  top: 0.375rem;
  width: 10.75rem;
  height: 3.125rem;
}
.detailBox .detail .detailLeft .getPhone .left {
  font-size: 1.125rem;
  height: 1.9375rem;
  line-height: 1.9375rem;
  font-weight: bold;
  color: #666;
}
.detailBox .detail .detailLeft .getPhone .left .leftImg {
  width: 0.75rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.625rem;
  vertical-align: -0.125rem;
}
.detailBox .detail .detailLeft .getPhone .right {
  height: 1.9375rem;
  line-height: 0.625rem;
  padding-left: 0.625rem;
}
.detailBox .detail .detailLeft .getPhone .right .rightText {
  font-size: 0.75rem;
  text-decoration: underline;
  color: #FF4720;
  cursor: pointer;
}
.detailBox .detail .detailLeft .goodName {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 0.625rem;
  padding-right: 13rem;
  line-height: 1.875rem;
  min-height: 1.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 0.25rem;
}
.detailBox .detail .detailLeft .attr {
  color: #999;
  font-size: 0.875rem;
  font-weight: bold;
  padding-left: 0.625rem;
  padding-right: 13rem;
  overflow: hidden;
}
.detailBox .detail .detailLeft .attr .addressText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 10.3125rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .bigImgPicWrap {
  width: 20.625rem;
  height: 20.625rem;
  overflow: hidden;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg {
  background-color: #F9F9F9;
  text-align: center;
  margin-bottom: 1.125rem;
  position: relative;
  height: 23.25rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .tipOff {
  position: absolute;
  right: 0.875rem;
  color: #FF500D;
  font-size: 0.875rem;
  text-decoration: underline;
  z-index: 1;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .newOrOld {
  position: absolute;
  left: 0.625rem;
  z-index: 1;
  color: #999;
  font-size: 0.875rem;
  font-weight: bold;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .bigImgPic {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 20.625rem;
  max-height: 20.625rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .bigImgbg {
  width: 100%;
  height: 2.625rem;
  padding: 0 1.40625rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .bgColor {
  width: 100%;
  height: 2.625rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .bgColor .bgColorInner {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutShare img {
  width: 1.6875rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutShare .likeImg {
  width: 1.125rem;
  vertical-align: -0.1875rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutShare .btn3 {
  font-size: 0.975rem;
  color: #1E1E1E;
  position: relative;
  top: 0.1875rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutShare .btn3 span {
  text-decoration: underline;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutPrice {
  position: absolute;
  left: 0.3125rem;
  bottom: 0.1875rem;
  text-align: left;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .thePrice {
  font-size: 1.125rem;
  color: #333;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .thePrice .thePriceNum {
  font-weight: bold;
  color: #f00;
  position: relative;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .bigImg .aboutShare {
  position: absolute;
  right: 0.625rem;
  bottom: 0.1875rem;
  display: inline-block;
  text-align: right;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg {
  position: relative;
  height: 5rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .leftFlag {
  position: absolute;
  left: -0.0625rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .leftFlag img {
  width: 1rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .rightFlag {
  position: absolute;
  right: -0.0625rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .rightFlag img {
  width: 1rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .img_ulBox {
  overflow: hidden;
  /*width:10000/@rem;*/
  position: absolute;
  height: 5rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .img_ul {
  width: 625rem;
  position: absolute;
  left: 1.1875rem;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .img_ul .img_li {
  cursor: pointer;
  float: left;
  margin: 0 0.125rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  position: relative;
}
.detailBox .detail .detailLeft .goodDesc .goodDescLeft .littleImg .img_ul img {
  max-width: 5rem;
  max-height: 5rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.detailBox .detail .detailLeft .tabToggle {
  background-color: #F2F2F2;
  margin-top: 1.75rem;
  border-bottom: 0.125rem solid #ff4720;
}
.detailBox .detail .detailLeft .aboutContent {
  font-size: 1rem;
  text-align: justify;
  padding: 0 0.3125rem;
}
.detailBox .detail .detailLeft .tabToggle .tabLink {
  display: inline-block;
  font-size: 0.8125rem;
  text-align: center;
  padding: 0.75rem 0;
  color: #333;
  /*border: 1px solid #999;*/
  background-color: #F2F2F2;
}
.detailBox .detail .detailLeft .tabToggle .tabLink2 {
  border-left: 0;
}
.detailBox .detail .detailLeft .tabToggle .active {
  color: #fff;
  background-color: #FF4720;
}
/*分享的btn*/
ul.share-buttons {
  list-style: none;
  padding: 0;
}
ul.share-buttons li {
  display: inline;
}
ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(0.0625rem 0.0625rem 0.0625rem 0.0625rem);
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  padding: 0;
  border: 0;
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
}
ul.share-buttons img {
  width: 2rem;
}
/*infos*/
.infos {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 1.25rem #333333;
}
.infos .part {
  font-size: 0.875rem;
  padding: 0.625rem 0;
  color: #fff;
  text-align: center;
  background-color: #FF4720;
  font-weight: bold;
}
.infos .detailPublish {
  background: #ff4720 url("../image/index/borderWhite.png") no-repeat right top;
  background-size: 1px 100%;
}
.infos .part span {
  text-decoration: underline;
}
/*popBox弹窗*/
.tipOffPopBox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  /*background-color: #000000;*/
  /*opacity: .6;*/
  z-index: 999999;
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
}
.tipOffPopBox .tipOffBox {
  height: 22.8125rem;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 1.875rem 1.5rem;
  position: relative;
}
@media screen and (min-width: 375px) {
  .tipOffPopBox .tipOffBox {
    margin-top: 6.25rem;
  }
}
@media (max-height: 400px) {
  .tipOffPopBox .tipOffBox {
    margin-top: 0;
  }
  .infos {
    display: none;
  }
}
.tipOffPopBox .tipOffBox .closeTipOff {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5625rem;
}
.tipOffPopBox .tipOffBox .title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
}
.tipOffPopBox .tipOffBox #detail {
  vertical-align: top;
  width: 100%;
  height: 8.3125rem;
  resize: none;
  font-size: 0.8125rem;
  color: #000000;
  outline: none;
  border: 1px solid #666;
}
.tipOffPopBox .tipOffBox #content {
  width: 100%;
  height: 2.1875rem;
  line-height: 2.1875rem;
  outline: none;
  border: 1px solid #666;
  text-indent: 0.25rem;
}
.tipOffPopBox .tipOffBox #content::-webkit-input-placeholder {
  color: #ccc;
}
.tipOffPopBox .tipOffBox .tip {
  color: #FF4720;
}
.tipOffPopBox .tipOffBox .content {
  padding-top: 1.25rem;
}
.tipOffPopBox .tipOffBox .submit {
  text-align: center;
  padding-top: 2rem;
}
.tipOffPopBox .tipOffBox .submit .submitBtn {
  width: 7.9375rem;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  background-color: #FF4720;
  color: #fff;
  font-size: 0.8125rem;
}
#bigImgSize {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999;
  opacity: 0;
}
