body {
  position: relative;
}
/*swiper-container*/
.swiper-container {
  height: 10rem;
  width: 100%;
}
.swiper-container .swiper-wrapper {
  width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 10rem;
}
/*bestGoods*/
.bestGoods {
  padding-top: 0.375rem;
  padding-bottom: 0.625rem;
  background-color: #E9E9E9;
}
.bestGoods .bestGoodsTitle {
  height: 1.375rem;
  position: relative;
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #333333;
}
.bestGoods .bestGoodsTitle span {
  position: absolute;
  left: 0;
  top: 0.0625rem;
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: 0.125rem solid #ff4720;
}
.bestGoods .imgsBox {
  cursor: pointer;
  position: relative;
  /*width: 236/@rem;*/
  min-height: 4.875rem;
  width: 100%;
}
.bestGoods .imgsBox .imgBox {
  width: 23%;
  height: 4.6875rem;
  margin: 0 1%;
  padding: 0 0.5rem;
}
.bestGoods .imgsBox .imgBox img {
  width: 100%;
}
/*recentOrNear*/
.recentOrNear {
  margin-bottom: 3.75rem;
}
.recentOrNear .title {
  height: 2.1875rem;
  line-height: 2.1875rem;
  font-size: 0.8125rem;
  color: #333333;
  text-align: center;
  background-color: #fff;
  border-bottom: 0.125rem solid #ff4720;
}
.recentOrNear .active {
  color: #fff;
  background-color: #FF4720;
}
.recentOrNear .getList {
  background-color: #E9E9E9;
}
.recentOrNear .getList .getLi {
  margin-top: 0.625rem;
  padding: 0 0.5rem;
  width: 31.3%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  height: 7.25rem;
}
.recentOrNear .getList .getLi img {
  width: 100%;
  height: 4.875rem;
  border: 0.0625rem solid #ff4720;
}
.recentOrNear .getList .getLi .price {
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  height: 1.25rem;
  line-height: 1.25rem;
  width: 100%;
  text-align: right;
  color: #fff;
}
.recentOrNear .getList .getLi .price span {
  display: inline-block;
  width: 100%;
  font-size: 0.75rem;
  padding-right: 0.3125rem;
  background-color: #FF4720;
}
/*infos*/
.infos {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 1.25rem #333333;
}
.infos .part {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background-color: #FF4720;
}
.infos .publish {
  border-right: 0.0625rem solid #ffffff;
}
.infos .part span {
  text-decoration: underline;
}
/*classifyBox*/
/*
.classifyBox{
  //margin-top:40/@rem;
  //display: none;
  position: fixed;
  z-index: 9999;
  top: 40/@rem;
  background-color: #fff;
}
.classifyBox .eachClass{
  font-size: 0.875rem;
  color: #666;
  //height: 2rem;
  line-height: 2rem;
  border-top: 1/@rem solid #999999;
}
.classifyBox .eachClass .eachClassName{
  padding-left: 0.625rem;
  text-decoration: underline;
}*/
.classifyBoxWrap {
  position: fixed;
  top: 2.5rem;
  left: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0.125rem 0.375rem #999999;
}
.classifyBox {
  background-color: #fff;
  position: relative;
  left: 0.3125rem;
}
.classifyBox .classifyLi .firstName {
  text-align: right;
  padding-right: 0.9375rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.9375rem;
  color: #333;
  font-weight: bold;
}
.classifyBox .classifyLi .secondNames {
  padding-left: 1.125rem;
  font-size: 0.875rem;
  color: #666;
  line-height: 2rem;
  border-left: 0.0625rem solid #999999;
}
.classifyBox .classifyLi .secondNames .secondName {
  height: 2rem;
  line-height: 2rem;
  padding-right: 0.625rem;
  text-decoration: underline;
}
