@rem : 16rem;

/*rulesBox*/
.rulesBox{
  font-size: 16/@rem;
  color: #1E1E1E;
  font-weight: bold;
  padding: 0 8/@rem;
}
.rulesBox .part2{
  float: right;
}

/*zhuanPanBox*/
.zhuanPanBox .zhuanPan{
  width: 100%;
}

/*infos*/
.infos{
  position: fixed;
  width: 100%;
  left: 0;
  bottom:0;
  box-shadow: 0 0 20/@rem #333;
}
.infos .part{
  height: 40/@rem;
  line-height: 40/@rem;
  font-size: 14/@rem;
  color: #fff;
  text-align: center;
  background-color: #FF4720;
  //border-top: 6/@rem solid #FF4720;
  //border-bottom: 6/@rem solid #FF4720;
}
.infos .pointsLotteryPublish{
  border-right: 1px solid #fff;
}
.infos .part span{
  text-decoration: underline;
}