/*rulesBox*/
.rulesBox {
  font-size: 1rem;
  color: #1E1E1E;
  font-weight: bold;
  padding: 0 0.5rem;
}
.rulesBox .part2 {
  float: right;
}
/*zhuanPanBox*/
.zhuanPanBox .zhuanPan {
  width: 100%;
}
/*infos*/
.infos {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 1.25rem #333333;
}
.infos .part {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background-color: #FF4720;
}
.infos .pointsLotteryPublish {
  border-right: 1px solid #fff;
}
.infos .part span {
  text-decoration: underline;
}
