body {
  overflow: auto;
  background-color: #F6F6F6;
}
.clearfix:after,
.clearfix:before {
  display: table;
  line-height: 0;
  content: "";
}
.container {
  min-width: 1200px;
  padding-left: 10px;
}
.container .ns-main {
  margin: 10px;
  overflow: hidden;
  background: #ffffff;
}
.container .ns-main .mod-table {
  margin-top: 15px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.container .ns-main .mod-table .step-region {
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
}
.container .ns-main .mod-table .step-region .info-region {
  width: 320px;
  padding: 15px 15px 100px 15px;
  border-right: 1px solid #e5e5e5;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .ns-main .mod-table .step-region .info-region .info-div {
  font-size: 14px;
  font-weight: bold;
}
.container .ns-main .mod-table .step-region .info-region .info-div .secured-title {
  float: right;
  font-size: 12px;
  font-weight: normal;
  color: #f60;
}
.container .ns-main .mod-table .step-region .info-region .info-table {
  margin-top: 10px;
}
.container .ns-main .mod-table .step-region .info-region .info-table td {
  font-size: 12px;
  color: #999;
  padding: 0 0 10px 0;
  vertical-align: top;
}
.container .ns-main .mod-table .step-region .info-region .info-table th {
  font-weight: normal;
  text-align: right;
  color: #999;
  width: 85px;
  font-size: 12px;
  padding: 0 0 10px 0;
  vertical-align: top;
}
.container .ns-main .mod-table .step-region .info-region .dashed-line {
  border-top: 1px dashed #e5e5e5;
}
.container .ns-main .mod-table .step-region .state-region {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px 140px 20px;
  margin-left: -1px;
  border-left: 1px solid #e5e5e5;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .ns-main .mod-table .step-region .state-region .state-title {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container .ns-main .mod-table .step-region .state-region .state-title .icon {
  position: absolute;
  left: -40px;
  width: 28px;
  height: 28px;
  border: 2px solid #07d;
  border-radius: 28px;
  line-height: 24px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: serif;
}
.container .ns-main .mod-table .step-region .state-region .state-title .info {
  color: #07d;
  border-color: #07d;
}
.container .ns-main .mod-table .step-region .state-region .state-action .zent-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 12px;
  color: #333;
  background: #fff;
  border: 1px solid #bbb;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.container .ns-main .mod-table .step-region .state-region .state-action .zent-btn-primary {
  color: #fff;
  background: #3283fa;
  border-color: #3283fa;
}
.container .ns-main .mod-table .step-region .state-region .state-remind-region .dashed-line {
  border-top: 1px dashed #e5e5e5;
}
.container .ns-main .mod-table .step-region .state-region .state-remind-region .state-remind {
  padding: 20px 0 0 40px;
}
.container .ns-main .mod-table .step-region .state-region .state-remind-region .state-remind .tixing {
  color: #FF6600;
  font-size: 12px;
  margin-bottom: 10px;
}
.container .ns-main .mod-table .step-region .state-region .state-remind-region .state-remind ul {
  padding-left: 4px;
}
.container .ns-main .mod-table .step-region .state-region .state-remind-region .state-remind ul li {
  color: #999;
}
.container .ns-main .mod-table .ui-table {
  width: 100%;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
  border: 1px solid #e5e5e5;
}
.container .ns-main .mod-table .ui-table th {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .ns-main .mod-table .ui-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .ns-main .mod-table .order-detail-goods-table {
  border-left: 0 none;
  border-right: 0 none;
}
.container .ns-main .mod-table .goods-table thead th {
  background-color: #f2f2f2;
  color: #999;
}
