@media screen and (min-width: 560px) {
  .main {
    width: 979px;
  }
}
@media screen and (max-width: 560px) {
  .main {
    width: auto;
  }
}
.main {
  border: 1px solid #b3dce9;
  border-top: 0;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
  padding-bottom: 11px;
}
.main .of {
  overflow: hidden;
}
@media screen and (min-width: 560px) {
  .main .of .lleft {
    width: 277px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lleft {
    width: 100%;
  }
}
.main .of .lleft {
  float: left;
  overflow: hidden;
  height: 678px;
}
@media screen and (min-width: 560px) {
  .main .of .lleft .logoDiv {
    width: 277px;
    background: url(../images/zjgnq/logoBg.jpg) no-repeat;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lleft .logoDiv {
    width: 100%;
    background: url(../images/zjgnq/logoBg.jpg) no-repeat;
    background-size: 100%;
  }
}
.main .of .lleft .logoDiv {
  min-height: 64px;
  max-height: 181px;
  overflow: hidden;
  border-bottom: 1px solid #B8E3F6;
}
@media screen and (min-width: 560px) {
  .main .of .lleft .logoDiv h5 {
    padding-top: 9px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lleft .logoDiv h5 {
    padding-top: 14px;
  }
}
.main .of .lleft .logoDiv h5 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.main .of .lleft .logoDiv ul {
  padding: 14px;
  padding-top: 20px;
}
@media screen and (min-width: 560px) {
  .main .of .lleft .logoDiv ul li {
    width: 246px;
    background: url(../images/zjgnq/blueBg.jpg) repeat-x;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lleft .logoDiv ul li {
    width: 100%;
    background: url(../images/zjgnq/blueBg.jpg) repeat-x;
    background-size: 100%;
  }
}
.main .of .lleft .logoDiv ul li {
  height: 30px;
  border: 1px solid #b5d4ff;
  margin-bottom: 10px;
}
.main .of .lleft .logoDiv ul li a {
  text-decoration: none;
  display: block;
  line-height: 30px;
  padding-left: 80px;
  font-size: 14px;
}
.main .of .lleft .logoDiv ul li .a1 {
  background: url(../images/zjgnq/bu1.jpg) left no-repeat;
}
.main .of .lleft .logoDiv ul li .a2 {
  background: url(../images/zjgnq/bu2.jpg) left no-repeat;
}
.main .of .lleft .logoDiv ul li .a3 {
  background: url(../images/zjgnq/bu3.jpg) left no-repeat;
}
@media screen and (min-width: 560px) {
  .main .of .lleft .ldiv {
    width: 277px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lleft .ldiv {
    width: 100%;
  }
}
.main .of .lleft .ldiv {
  height: 237px;
  margin-top: 10px;
}
.main .of .lleft .ldiv .bar04 {
  background-color: #ebf3fa;
  height: 35px;
}
.main .of .lleft .ldiv .bar04 h5 {
  float: left;
  display: block;
  width: 105px;
  height: 39px;
  background: url(../images/zjgnq/bar04.png) no-repeat;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
}
.main .of .lleft .ldiv .bar04 > a {
  display: block;
  height: 35px;
  width: 35px;
  float: right;
  text-align: center;
  line-height: 35px;
  color: #888;
  margin-right: 5px;
}
.main .of .lleft .ldiv .cont {
  border: 1px solid #e6edf4;
  border-top: 0;
  height: 186px;
  padding-top: 17px;
}
.main .of .lleft .ldiv .cont ul {
  padding: 0 10px;
}
.main .of .lleft .ldiv .cont ul li {
  line-height: 28px;
}
.main .of .lleft .ldiv .cont ul li a {
  padding: 0 10px;
  font-size: 14px;
  background: url(../images/zjgnq/bp.jpg) left no-repeat;
  padding-left: 10px;
}
@media screen and (min-width: 560px) {
  .main .of .lright {
    width: 690px;
    height: 676px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lright {
    width: 100%;
  }
}
.main .of .lright {
  float: left;
  border: 1px solid #eaeaea;
  margin-left: 10px;
  overflow: hidden;
}
.main .of .lright .bar03 {
  background-color: #f1f1f1;
  height: 35px;
}
.main .of .lright .bar03 h5 {
  border-top: 2px solid #1178c1;
  border-right: 1px solid #dbdee1;
  color: #0181ca;
  float: left;
  display: block;
  height: 33px;
  background-color: #fff;
  line-height: 33px;
  font-weight: 700;
  padding: 0 10px;
  font-size: 14px;
}
.main .of .lright .bar03 > div {
  display: block;
  height: 35px;
  width: auto;
  float: right;
  text-align: center;
  line-height: 35px;
  margin-right: 16px;
}
.main .of .lright .bar03 > div a {
  text-decoration: none;
  color: #333;
}
.main .of .lright .lrl {
  overflow: hidden;
  padding: 10px;
  overflow-y: auto;
  height: auto;
  font-size: 14px;
}
@media screen and (min-width: 560px) {
  .main .of .lright .lrl .x2015div {
    width: 590px;
    height: 130px;
    padding: 30px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lright .lrl .x2015div {
    width: 100%;
    height: auto;
  }
}
.main .of .lright .lrl .x2015div {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px dashed #eaeaea;
}
@media screen and (min-width: 560px) {
  .main .of .lright .lrl .x2015div .left1 {
    background: url(../images/zjgnq/x1.png) no-repeat;
  }
  .main .of .lright .lrl .x2015div .left2 {
    background: url(../images/zjgnq/x2.png) no-repeat;
  }
  .main .of .lright .lrl .x2015div .left3 {
    background: url(../images/zjgnq/x3.png) no-repeat;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lright .lrl .x2015div .left1 {
    margin-top: 20%;
    background: url(../images/zjgnq/x1.png) no-repeat;
    background-size: 100%;
  }
  .main .of .lright .lrl .x2015div .left2 {
    margin-top: 20%;
    background: url(../images/zjgnq/x2.png) no-repeat;
    background-size: 100%;
  }
  .main .of .lright .lrl .x2015div .left3 {
    margin-top: 20%;
    background: url(../images/zjgnq/x3.png) no-repeat;
    background-size: 100%;
  }
}
.main .of .lright .lrl .x2015div .left1 {
  width: 125px;
  height: 125px;
}
.main .of .lright .lrl .x2015div .left2 {
  width: 125px;
  height: 125px;
}
.main .of .lright .lrl .x2015div .left3 {
  width: 125px;
  height: 125px;
}
@media screen and (min-width: 560px) {
  .main .of .lright .lrl .x2015div .right {
    width: 445px;
    height: 120px;
  }
}
@media screen and (max-width: 560px) {
  .main .of .lright .lrl .x2015div .right {
    width: 100%;
  }
}
.main .of .lright .lrl .x2015div .right {
  margin-left: 20px;
  font-size: 14px;
  padding-top: 10px;
}
.main .of .lright .lrl .x2015div .right p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-indent: 0;
  padding: 0 0 0 0;
  line-height: 24px;
  background: #ffffff;
}
.main .of .lright .lrl .x2015div .right p a {
  color: #FF8C00;
  font-weight: 700;
}
.main .of .lright .pg1 {
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  height: 40px;
}
