<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/company/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/company/company_index.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/common_ajax_dialog.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/company/company_ajax_dialog.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/company/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="index_header" />
<div class="index_main">
	<div class="ileft">
		<div class="hellow">
			<div class="tit"><span>{$am_pm}， Dear HR</span><br /> Today is {:date('Y year m month d day ',time())}&nbsp;&nbsp;&nbsp; week {$week[date('w')]}</div>
			<div class="td1">
				<div class="mygold link_yellow">{:C('qscms_points_byname')}：&nbsp;<a href="{:U('companyService/points')}"><span class="my_points_num">{$points}</span></a></div>
				<div class="link_blue"><a href="{:U('companyService/points')}"> Make a job {:C('qscms_points_byname')}</a></div>
			</div>
			<div class="td2">
				<div id="J_sign_in" class="J_hoverbut <if condition="$issign">btn_lightgray<else/>btn_yellow</if>"><if condition="$issign"> Has been checked in <else/> Not sign in </if></div>
			</div>
			<div class="clear"></div>
			<div class="btnbox link_gray6">
				<if condition="$upper_limit neq 1">
					<a href="{:U('jobs_add')}" class="btn1"> Post position </a>
				<else/>
					<a href="javascript:;" class="J_addJobsDig btn1"> Post position </a>
				</if>
				<a href="javascript:;" class="btn2" id="refresh_jobs_all"> Refresh the job </a>
				<a target="_blank" href="{:url_rewrite('QS_resumelist')}" class="btn3"> Search Resume </a>
			</div>
		</div>
		<if condition="$setmeal">
			<div class="vip">
				<if condition="$setmeal['setmeal_id'] eq 1">
					<div class="tit link_gray6">
						 My service ：<a href="{:U('companyService/index')}" class="vipname">{$setmeal.setmeal_name}</a><br/>
						<span><a target="_blank" href="{:U('CompanyService/explain')}" target="_blank">VIP Members enjoy more recruitment privileges </a></span>
					</div>
					<div class="open">
						<a class="openbtn J_hoverbut"  href="{:U('companyService/index')}"> Opened VIP member </a>
					</div>
				<else/>
					<div class="tit link_gray6">
						 My service ：<a href="{:U('companyService/index')}">{$setmeal.setmeal_name}</a><br/>
						<span>
							({:date('Y-m-d',$setmeal['starttime'])}  to  <eq name="setmeal['endtime']" value="0">--<else/>{:date('Y-m-d',$setmeal['endtime'])}</eq>)
						</span>
						<div class="btnbox">
						    <div class="viewbtn J_hoverbut" onclick="window.location='{:U('jobs_list')}'">可 Post position ：<strong title="{$surplus_jobs_num}">{$surplus_jobs_num}</strong></div>
							<div class="viewbtn btn2 J_hoverbut" onclick="window.location='{:U('resume_down')}'"> Download resume ：<strong title="{$setmeal['download_resume']}">{$setmeal['download_resume']}</strong></div>
						</div>
					</div>
				</if>
			</div>
		</if>
		<!-- 客服-->
		<notempty name="consultant">
			<div class="service">
				<div class="tit"> Exclusive customer service </div>
				<div class="pic">
					<div class="td1"><img src="{:attach($consultant['pic'],'consultant')}"  width="70"  height="70"  border="0"/></div>
					<div class="td2">
						<div class="name">{$consultant.name}</div>
							<a target="blank" href="tencent://message/?uin={$consultant.qq}&Site=menu&Menu=yes"><img border="0" SRC=http://wpa.qq.com/pa?p=1:{$consultant.qq}:1 alt=" Click here to send me a message "></a>
						</div>
					<div class="clear"></div>
				</div>
				<if condition="$consultant['mobile'] || $consultant['tel']">
				<div class="tel">
					<if condition="$consultant['mobile']">
					 Mobile phone ：{$consultant.mobile}<br />
					</if>
					<if condition="$consultant['tel']">
					 phone ：{$consultant.tel}
					</if>
				</div>
				</if>
				<div class="btnbox">
					<div class="J_hoverbut btn_complaint"> Complaints TA</div>
				</div>
			</div>
		</notempty>
	</div>
	<div class="iright">
		<if condition="!$cominfo_flge">
			<div class="cominfotip">
				<div class="td1">
					<div class="t"> Your company's information has not been completed ， May affect your hiring effect Oh ！</div>
					<div class="v"> Improve the company's basic information 、 Contact information 、 Upload business license … Wait ， Can effectively improve the success rate of recruitment 	 </div> 
				</div>
				<div class="td2">
					<a href="{:U('com_info')}" class="btn_blue J_hoverbut btn_100_38 btn_border"> Immediately improve the information </a>
					<div class="J_companyinfo closs J_hoverbut" title=" shut down "></div>
				</div>
				<div class="clear"></div>
			</div>
		</if>
		<div class="i_main">
			<div class="comlogo">
				<div class="log link_blue">
		        	 Last login ：<eq name="visitor['last_login_time']" value="0"> Never logged in <else />{:date('Y-m-d H:i',$visitor['last_login_time'])}</eq>&nbsp;&nbsp;&nbsp;<a href="{:U('user_loginlog')}">[查看登录 day 志]</a>
		        </div>
				<div class="td1">
					<div class="logobox">
						<a href="{:U('com_info')}"><img src="<if condition="$company_profile['logo']">{:attach($company_profile['logo'],'company_logo')}<else/>{:attach('no_logo.png','resource')}</if>?{:time()}" width="120" height="120" border="0" /></a>
					</div>
				</div>
				<div class="td2">
	  		  		<div class="comname link_blue substring">
	  		  			{$company_profile.companyname} <a href="{:U('com_info')}"> edit </a>
	  		  		</div>
	  		  		<if condition="$company_profile['nature']">
					<div class="txt_line mt8 link_blue">{$company_profile.nature_cn} | {$company_profile.trade_cn} | {$company_profile.scale_cn} | {$company_profile.district_cn}</div>
	  		  		<else />
	  		  		<div class="txt_line mt8 link_blue"> Improve the basic information is the first step in recruitment ， immediately  <a href="{:U('com_info')}"> complete material </a></div>
	  		  		</if>
	  		  		<if condition="$tag_arr">
					<div class="tag_group mt14">
					<volist name="tag_arr" id="vo">
	  		  			<div class="group_cell"><div class="tag_cell">{$vo}</div></div>
	  		  		</volist>
	  		  		<div class="clear"></div>
	  		  		</div>
	  		  		<else />
					<div class="txt_line mt17 link_blue"><a href="{:U('com_info')}"> Add corporate benefits </a>， Make the position more attractive </div>
	  		  		</if>
			        <div class="checkbox mt15 link_blue">
						<!--已经认证的叠加css  ok -->
						<if condition="$company_profile['audit'] eq 1">
							<a href="{:U('com_auth')}" class="btns btn1 ok"> The enterprise has been certified </a>
						<else/>
							<a href="{:U('com_auth')}" class="btns btn1"> Enterprise is not certified </a>
						</if>
						<if condition="$visitor['mobile_audit']">
							|<a href="{:U('user_security')}" class="btns btn2 ok"> Mobile phone 已认证</a>
						<else/>
							|<a href="{:U('user_security')}" class="btns btn2"> Mobile phone 未认证</a>
						</if>
						<if condition="$visitor['email_audit']">
							|<a href="{:U('user_security')}" class="btns btn3 ok"> The mailbox is certified </a>
						<else/>
							|<a href="{:U('user_security')}" class="btns btn3"> The mailbox is not certified </a>
						</if>
						<notempty name="wx_status">
							<if condition="$weixin_bind">
								|<a href="{:U('user_security')}" class="btns btn4 ok"> Micro letter has been certified </a>
							<else/>
								|<a href="javascript:;" class="btns btn4 J_bind_wx"> WeChat is not certified </a>
								<div class="popWeixin" id="J_popWeixin">
									<div><div class="qrarrow"></div></div>
									<div><a class="close" href="javascript:void(0)">×</a></div>
									<div class="qrimg">{$qrcode}</div>
									<div class="qrtxt">
										<div class="dd"> WeChat sweep sweep bound account </div>
										<div class="dd_small"> Micro letter received delivery resume </div>
										<div class="dd_small"> Use WeChat to quickly log in </div>
									</div>
									<div class="clear"></div>
								</div>
							</if>
						</notempty>
					</div>
				</div>
				<div class="clear"></div>
			</div>
	        <div class="counts">
				<div class="cli">
					<div class="item J_hoverbut" onclick="window.location='{:U('jobs_list')}'">
						<div class="n">{$total_audit_jobs}</div>
						<div class="t"> Recruitment of jobs </div>
					</div>
				</div>
				<div class="cli">
					<div class="item J_hoverbut" onclick="window.location='{:U('jobs_apply')}'">
						<div class="n">{$total_nolook_resume}</div>
						<div class="t"> Pending resume </div>
					</div>
				</div>
				<div class="cli">
					<div class="item J_hoverbut" onclick="window.location='{:U('jobs_interview')}'">
						<div class="n">{$total_interview}</div>
						<div class="t"> Interview Invitation </div>
					</div>
				</div>
				<div class="cli">
					<div class="item J_hoverbut" onclick="window.location='{:U('company/jobs_viewlog')}'">
						<div class="n">{$total_view}</div>
						<div class="t"> Who is paying attention to me </div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="data">
				<div class="titbg">
					<div class="btns">
						<div class="select_input input_140_30_div J_hoverinput J_dropdown J_listitme_parent">
							<span class="J_listitme_text">
								 Visitor Statistics 
							</span>
							<div class="dropdowbox12 J_dropdown_menu">
					            <div class="dropdow_inner12">
					                <ul class="nav_box">
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="type" data_val="visitor"> Visitor Statistics </a></li>
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="type" data_val="viewjobs"> Position browsing </a></li>
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="type" data_val="apply"> Appointment statistics </a></li>
					                </ul>
					            </div>
					        </div>
					        <input class="J_listitme_code statistics_type" name="" type="hidden" value="visitor" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="btns1">
						<div class="select_input input_140_30_div J_hoverinput J_dropdown J_listitme_parent">
							<span class="J_listitme_text">
								 recent 7 day 
							</span>
							<div class="dropdowbox12 J_dropdown_menu">
					            <div class="dropdow_inner12">
					                <ul class="nav_box">
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="settr" data_val="7"> recent 7 day </a></li>
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="settr" data_val="15"> recent 15 day </a></li>
					                	<li><a class="J_listitme statistics_select" href="javascript:;" data_k="settr" data_val="30"> recent 30 day </a></li>
					                </ul>
					            </div>
					        </div>
					        <input class="J_listitme_code statistics_settr" name="" type="hidden" value="7" />
						</div>
						<div class="clear"></div>
					</div>
					<div class="more link_blue"><a href="{:U('company/statistics_visitor')}"> View details >></a></div>
					<div class="clear"></div>
				</div>
				<div class="info statistics_wrap"> No data ...</div>
			</div>
			<div class="resumetit">
			  		<div class="lt"> Recommended resume </div>
					<div class="rt link_blue"><a href="javascript:;" class="more J_refresh" data-ajaxtype="recommend_jobs" ajaxpage="2"> For a batch </a></div>
					<div class="clear"></div>
			</div>
	        <div class="resumelist">
	        	<notempty name="resume_list">
					<volist name="resume_list" id="resume">
						<div class="li">
							<div class="bg J_hoverbut">
							 	<div class="photobox">
							 		<a target="_blank" href="{:url_rewrite('QS_resumeshow',array('id'=>$resume['id']))}">
							 			<img  border="0" src="{$resume['photosrc']}" />
							 		</a>
							 	</div>
								<div class="info">
									  <div class="name link_blue"><a target="_blank" href="{:url_rewrite('QS_resumeshow',array('id'=>$resume['id']))}">{$resume.fullname}</a></div>
									  <div class="time">{:date('Y-m-d',$resume['refreshtime'])}</div>
									  <div class="clear"></div>
								      <div class="txt">{$resume['sex_cn']} | {$resume['age']} year old  | {$resume['education_cn']} | {$resume['experience_cn']} <br /><div class="substring">{$resume['intention_jobs']}</div> </div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</volist>
				<else />
					<div class="res_empty link_blue">
						 Sorry ， Did not find the relevant resume ， please <a href="{:U('jobs_add')}"> Post position </a> Let job seekers take the initiative to deliver resume 。
					</div>
				</notempty>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<include file="index_footer" />
<script type="text/javascript" src="../public/js/company/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="../public/js/company/fusioncharts/fusioncharts.theme.fint.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".J_bind_wx").click(function(){
			$('#J_popWeixin').show();
		});
		//  shut down 微信绑定提示
        $('#J_popWeixin .close').on('click', function(){
            $('#J_popWeixin').hide();
        });
        $('.J_companyinfo').click(function(){
        	$(this).closest('.cominfotip').remove();
        });
		$('#J_sign_in').click(function(){
			var f = $(this);
	    	$.getJSON("{:U('members/sign_in')}",function(result){
	    		if(result.status == 1){
	    			disapperTooltip("goldremind", '每 day 签到增加'+result.data+'{:C('qscms_points_byname')}<span class="point">+'+result.data+'</span>');
					f.addClass('btn_gray9').text(' Has been checked in ');
	    			$(".my_points_num").html(parseInt($(".my_points_num").html())+parseInt(result.data));
	    		}else{
	    			disapperTooltip('remind',result.msg);
	    		}
	    	});
	    });
		get_statistics_data();
		$(".statistics_select").click(function(){
			var data_k = $(this).attr('data_k');
			var data_val = $(this).attr('data_val');
			$(".statistics_"+data_k).val(data_val);
			get_statistics_data();
		});
		function get_statistics_data(){
			var type = $(".statistics_type").val();
			var settr = $(".statistics_settr").val();
			$.getJSON("{:U('company/ajax_get_statistics')}",{type:type,settr:settr},function(result){
				$(".statistics_wrap").html(result.data);
			});
		}
        var isDone = true; //  Prevent duplicate clicks 
		//  For a batch 
        $('.J_refresh').on('click', function(event) {
        	var obj = $(this);
        	var ajaxtype = obj.data('ajaxtype');
        	var ajaxpage = parseInt(obj.attr('ajaxpage')); //  Record the number of pages 
        	if (isDone) {
        		isDone = false;
	        	$.getJSON("{:U('company/ajax_get_interest_resume')}", {type: ajaxtype, p: ajaxpage}, function(data) {
		        		$('.resumelist').html(data.data.html);
		        		if(data.data.page==ajaxpage){
		        			obj.attr('ajaxpage', 1);
		        		}else{
		        			obj.attr('ajaxpage', ajaxpage+1);
		        		}
		        		isDone = true;
	        	});
        	};
        });
        $("#refresh_jobs_all").click(function(){
        	$.getJSON("{:U('CompanyService/jobs_refresh_all')}",function(result){
        		if(result.status==1){
        			disapperTooltip('success',result.msg);
        		}
        		else if(result.status==2)
        		{
        			var qsDialog = $(this).dialog({
		                title: '批量 Refresh the job ',
		                loading: true,
		                border: false,
		                yes: function () {
		                	window.location.href=result.data;
		                }
		            });
		            qsDialog.setBtns([' Single refresh ', ' cancel ']);
		            qsDialog.setContent('<div class="refresh_jobs_all_confirm">' + result.msg + '</div>');
        		}
        		else
        		{
        			disapperTooltip('remind',result.msg);
        		}
        	});
        });
        $(".btn_complaint").click(function(){
        	var url = "{:U('Company/complaint_consultant')}";
            var qsDialog = $(this).dialog({
                title: ' Complaints 客服',
                loading: true,
                border: false,
                yes: function () {
                	var notes = $("#notes").val();
                    $.post(url, {notes:notes},function (result) {
		                if (result.status == 1) {
		                	disapperTooltip('success', result.msg);
		                    qsDialog.setCloseDialog(true);
		                } else {
		                    disapperTooltip('remind', result.msg);
		                    qsDialog.setCloseDialog(false);
		                }
		            },'json');
                }
            });
            $.getJSON(url, function (result) {
                if (result.status == 1) {
                    qsDialog.setContent(result.data);
                } else {
                    disapperTooltip('remind', result.msg);
                }
            });
        });
		<if condition="$confirm_setmeal eq 1">
			var confirmDialog = $(this).dialog({
        		title: ' Tips ',
				loading: true,
				btns: [' immediately 缴费', ' Cruel refused '],
				yes: function () {
                    location.href="{:U('companyService/index')}";
                }
			});
			$.getJSON("{:U('company/confirm_setmeal')}",function(result){
				confirmDialog.setContent(result.data.html);
			});
		</if>
	});
</script>
</body>
</html>