.xw_exit{
    position: absolute;
    left:40%;
    top:0;
}#xw_notice{
    position: absolute;
    left:55%;
    top:0;
}#xyw_horn{
    position: absolute;
    left:70%;
    top:0;
      height: 34px;
}
.xw_state{
    position: absolute;
    left:0;
    top:0;
}

.xyw_td_box{
    margin: 0 auto;
    margin-top:130px;
}
