

@rem: 16rem;

/*runWinBox*/
.runWinBox{

}
.runWinBox .runWin{
    width: 100%;
}

/*updateNewsBox*/
.updateNewsBox{
    position: relative;
}
.updateNewsBox .updateNews{
    width: 100%;
}
.updateNewsBox .tips{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:14/@rem;
    font-size: 14/@rem;
    color: #333333;
    font-family: "微软雅黑";
}

/*addWeChatBox*/
.addWeChatBox{
    text-align: center;
}
.addWeChatBox .title{
    color: #b85e13;
    font-size: 17/@rem;
    font-family: 'STHupo';
    font-weight: bold;
}
.addWeChatBox .erWeiMa{
    width: 122/@rem;
}
.addWeChatBox .touchBtn{
    outline: none;
    border: none;
    width: 242/@rem;
    height:48px;
    line-height:48px;
    color: #010005;
    font-size: 18px;
    font-family: 'HYk1gj';
    font-weight: bold;
    text-indent: 60px;
    background: url("../image/touchBtn.png") no-repeat center center;
    background-size: 100% 100%;
}