<div class="modal_login_group">
	<div class="modal_login_left"></div>
	<div class="modal_login_right">
		<div class="right_all_box">
			<if condition="C('qscms_weixin_apiopen') and C('qscms_weixin_scan_login')">
				<div class="code_login" title=" Toggle Swipe Login "></div>
				<div class="txt_login"  title=" Switch to user name password to log in "></div>
			</if>
			<div class="tit">
				<div class="switch_login_type">
					<div class="J_switch_type login_type select"> Account login <div class="bottom_line"></div></div>
					<if condition="C('qscms_sms_open') eq 1"><div class="J_switch_type login_type"> Phone dynamic code login <div class="bottom_line"></div></div></if>
					<div class="clear"></div>
				</div>
			</div>
			<div class="login_type_group">
				<div class="type_box">
					<div class="err J_errbox"></div>
					<div class="inputbox J_focus">
						<div class="imgbg"></div>
						<input type="text" class="input_login" name="username" id="username" placeholder=" phone number / Member name / mailbox "/>
					</div>
					<div class="inputbox J_focus">
						<div class="imgbg pwd"></div>
						<input type="password" class="input_login pwd J_loginword" name="password" id="password" placeholder=" Please enter your password "  />
					</div>
					<div class="btnbox">
						<input class="btn_login J_hoverbut" type="button" id="J_dologinByAccount" value=" log in " />
					</div>
					<div class="qqbox">
						<span class="txt first">
                            <notempty name="oauth_list">
                                <if condition="!(count($oauth_list) eq 1 AND array_key_exists('weixin',$oauth_list))">
                                    合作 Account login 
                                </if>
                            </notempty>                  
                        </span>
						<div class="appsparent">
						    <div class="apps">
						    	<volist name="oauth_list" id="oauth">
							  		<if condition="$key neq 'weixin'">
										<a class="ali {$key}" href="{:U('callback/index',array('mod'=>$key,'type'=>'login'))}" title="{$oauth.name} Account login "></a>
									</if>
								</volist>
							</div>
						</div>
						<span class="txt link_yellow last"><a href="{:U('members/register')}"> registered </a></span>
						<div class="clear"></div>
					</div>
				</div>
				<div class="type_box">
					<div class="err J_errbox"></div>
					<div class="inputbox J_focus">
						<div class="imgbg"></div>
						<input type="text" class="input_login" name="mobile" id="mobile" placeholder="请输入 phone number "/>
					</div>
					<div class="inputbox J_focus">
						<div class="imgbg pwd"></div>
						<input type="text" class="input_login pwd code J_loginword" name="verfy_code" id="verfy_code" placeholder=" Please enter your phone verification code "  />
						<input class="btn_login J_hoverbut get_code" type="button" id="getVerfyCode" value=" get verification code " />
					</div>
					<div class="btnbox">
						<input class="btn_login J_hoverbut" type="button" id="J_dologinByMobile" value=" log in " />
					</div>
					<div class="qqbox">
						<span class="txt first">
                            <notempty name="oauth_list">
                                <if condition="!(count($oauth_list) eq 1 AND array_key_exists('weixin',$oauth_list))">
                                    合作 Account login 
                                </if>
                            </notempty>                  
                        </span>
						<div class="appsparent">
						    <div class="apps">
						    	<volist name="oauth_list" id="oauth">
							  		<if condition="$key neq 'weixin'">
										<a class="ali {$key}" href="{:U('callback/index',array('mod'=>$key,'type'=>'login'))}" title="{$oauth.name} Account login "></a>
									</if>
								</volist>
							</div>
						</div>
						<span class="txt link_yellow last"><a href="{:U('members/register')}"> registered </a></span>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<if condition="C('qscms_weixin_apiopen') and C('qscms_weixin_scan_login')">
				<div class="J_qr_code_show" style="display: none">
				    <div id="J_weixinQrCode" class="codebox"></div>
	                <div class="codetip">请 use 微信扫一扫 log in </div>
	    		</div>
                <script type="text/javascript">
                    var qrcode_time,
                        waiting_weixin_scan = function(){
                            $.getJSON(qscms.root + '?m=Home&c=Members&a=waiting_weixin_login',function(result){
                                if(result.status == 1){
                                    window.location.href = result.data;
                                }
                            });
                        },
                        get_weixin_qrcode = function(){
                            clearInterval(qrcode_time);
                            $.getJSON(qscms.root + '?m=Home&c=Qrcode&a=get_weixin_qrcode',{type:'login'},function(result){
                                if(result.status == 1){
                                    $('#J_weixinQrCode').empty().append(result.data);
                                    qrcode_time=setInterval(waiting_weixin_scan,5000);
                                }else{
                                    $('#J_weixinQrCode').empty().html(result.msg);
                                }
                            });
                        };
                    get_weixin_qrcode();
                </script>
	    	</if>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="popup-captcha-login"></div>
<input type="hidden" id="btnCheckLogin" />
<input type="hidden" id="verify_userlogin" value="{$verify_userlogin}">
<input type="hidden" id="J_loginType" value="0">
<input type="hidden" id="J_sendVerifyType" value="0">
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    //  close the window 
    $('.a_close').die().live('click', function(event) {
        $('.modal').remove();
        $('.modal_backdrop').remove();
    });

	// 顶部二维码 log in 切换
	$(".code_login,.txt_login").click( function () {
		$(".login_type_group").toggle();
		$(".J_qr_code_show").toggle();
		$(".code_login").toggle();
		$(".txt_login").toggle();
        $('.right_all_box .tit').toggle();
	});

	$(".J_hoverbut").hover(function() {
			$(this).addClass("hover");
		}, function() {
			$(this).removeClass("hover");
		}
	);
	//  log in 方式切换
    var F = -1;
    $('.J_switch_type').click(function() {
        $(this).addClass('select').siblings().removeClass('select');
        var switchIndex = $('.J_switch_type').index(this);
        $('#J_loginType').val(switchIndex);
        $('.login_type_group').stop(true).animate({
            left: 350 * F * switchIndex + "px"
        }, 200);
    });

    // 回车 log in 
	$('.J_loginword').bind('keypress', function(event) {
        if (event.keyCode == "13") {
        	$(this).closest('.type_box').find('.btnbox .btn_login').click();
        }
    });

    //  Account login 验证
    $('#J_dologinByAccount').die().live('click', function() {
        var usernameValue = $.trim($('#username').val());
        var passwordValue = $.trim($('#password').val());
        var $errbox = $(this).closest('.type_box').find('.J_errbox');
        if (usernameValue == "") {
            $errbox.text('请填写 phone number / Member name / mailbox ').show();
            $('#username').focus();
            return false;
        }
        if (passwordValue == "") {
            $errbox.text(' Please fill in the password ').show();
            $('#password').focus();
            return false;
        }
        $errbox.text('').hide();
        if(eval($("#verify_userlogin").val())==1){
            $('#J_sendVerifyType').val('0');
            $("#btnCheckLogin").click();
        }else{
            $('#J_dologinByAccount').val(' log in 中...').addClass('btn_disabled').prop('disabled', !0);
            doLogin();
        }
    });

	//  Phone dynamic code login 
    var regularMobile = /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/; // 验证 phone number 正则
    $('input[name="mobile"]').keyup(function(event) {
        var $errbox = $(this).closest('.type_box').find('.J_errbox');
        var mobileValue = $(this).val();
        if (mobileValue.length >= 11) {
            if (mobileValue != "" && !regularMobile.test(mobileValue)) {
                $errbox.text(' phone number 码格式不正确').show();
                return false;
            }
        }
    });
    
    //  get verification code 
    $('#getVerfyCode').die().live('click', function(event) {
        var mobileValue = $('input[name="mobile"]').val();
        var $errbox = $(this).closest('.type_box').find('.J_errbox');
        if (!mobileValue.length) {
            $errbox.text('请输入 phone number 码').show();
            $('input[name="mobile"]').focus();
            return false;
        }
        if (mobileValue != "" && !regularMobile.test(mobileValue)) {
            $errbox.text(' phone number 码格式不正确').show();
            $('input[name="mobile"]').focus();
            return false;
        }
        $.ajax({
            url: "{:U('members/ajax_check')}",
            cache: false,
            async: false,
            type: 'post',
            dataType: 'json',
            data: { type: 'mobile', param: mobileValue },
            success: function(result) {
                if (!result.status) {
                    $errbox.text('').hide();
                    $('#J_sendVerifyType').val('1');
                    $("#btnCheckLogin").click();
                } else {
                    $errbox.text(' Account does not exist ！').show();
                    return false;
                }
            }
        });
    });

	//  Phone dynamic code login 
	$('#J_dologinByMobile').die().live('click', function() {
        var mobileValue = $.trim($('#mobile').val());
        var verfyCodeValue = $.trim($('#verfy_code').val());
        var $errbox = $(this).closest('.type_box').find('.J_errbox');
        if (mobileValue == "") {
            $errbox.text('请填写 phone number ').show();
            $('#mobile').focus();
            return false;
        }
        if (mobileValue != "" && !regularMobile.test(mobileValue)) {
            $errbox.text(' phone number 码格式不正确').show();
            return false;
        }
        if (verfyCodeValue == "") {
            $errbox.text(' Please fill in your phone verification code ').show();
            $('#verfy_code').focus();
            return false;
        }
        $errbox.text('').hide();
        if(eval($("#verify_userlogin").val())==1){
            $('#J_sendVerifyType').val('0');
            $("#btnCheckLogin").click();
        }else{
            $('#J_dologinByMobile').val(' log in 中...').addClass('btn_disabled').prop('disabled', !0);
            doLogin();
        }
    });

	//  log in 方法
    function doLogin() {
        var loginTypeValue = eval($('#J_loginType').val());
        $('.type_box').eq(loginTypeValue).find('.btnbox .btn_login').val('正在 log in 中...');
        if (loginTypeValue) {
            var mobileValue = $.trim($('input[name=mobile]').val());
            var verfyCodeValue = $.trim($('input[name=verfy_code]').val());
            var $errbox = $('#J_dologinByMobile').closest('.type_box').find('.J_errbox');
            //  submit Form 
            $.ajax({
                url: "{:U('members/login')}",
                type: "post",
                dataType: "json",
                data: {
                    mobile: mobileValue,
                    mobile_vcode: verfyCodeValue,
                    //  The three values ​​required for secondary verification 
                    geetest_challenge: $("input[name='geetest_challenge']").val(),
                    geetest_validate: $("input[name='geetest_validate']").val(),
                    geetest_seccode: $("input[name='geetest_seccode']").val()
                },
                success: function (result) {
                    if (parseInt(result.status)) {
                       window.location.reload();
                    } else {
                        $errbox.text(result.msg).show();
                        $('#J_dologinByMobile').val(' log in ').removeClass('btn_disabled').prop('disabled', 0);
                        $("#verify_userlogin").val(result.data);
                    }
                }
            });
        } else {
            var usernameValue = $.trim($('input[name=username]').val());
            var passwordValue = $.trim($('input[name=password]').val());
            var $errbox = $('#J_dologinByAccount').closest('.type_box').find('.J_errbox');
            //  submit Form 
            $.ajax({
                url: "{:U('members/login')}",
                type: "post",
                dataType: "json",
                data: {
                    username: usernameValue,
                    password: passwordValue,
                    //  The three values ​​required for secondary verification 
                    geetest_challenge: $("input[name='geetest_challenge']").val(),
                    geetest_validate: $("input[name='geetest_validate']").val(),
                    geetest_seccode: $("input[name='geetest_seccode']").val()
                },
                success: function (result) {
                    if (parseInt(result.status)) {
                        window.location.reload();
                    } else {
                        $errbox.text(result.msg).show();
                        $('#J_dologinByAccount').val(' log in ').removeClass('btn_disabled').prop('disabled', 0);
                        $("#verify_userlogin").val(result.data);
                    }
                }
            });
        }
    }

    //  The need to do after the operation 
    function validDoSomethig() {
        var toType = eval($('#J_sendVerifyType').val());
        var loginTypeValue = eval($('#J_loginType').val());
        if (toType) {
            var mobileValue = $('input[name="mobile"]').val();
            $.ajax({
                url: "{:U('members/reg_send_sms')}",
                cache: false,
                async: false,
                type: 'post',
                dataType: 'json',
                data: { sms_type: 'login', mobile: mobileValue,geetest_challenge: $("input[name='geetest_challenge']").val(),geetest_validate: $("input[name='geetest_validate']").val(),geetest_seccode: $("input[name='geetest_seccode']").val()},
                success: function(result) {
                    if (result.status) {
                        disapperTooltip("success", " The verification code has been sent ， Please pay attention to check ");
                        //  Start countdown 
                        var countdown = 180;
                        function settime() {
                            if (countdown == 0) {
                                $('#getVerfyCode').prop("disabled", 0);
                                $('#getVerfyCode').removeClass('btn_disabled');
                                $('#getVerfyCode').val(' get verification code ');
                                countdown = 180;
                                return;
                            } else {
                                $('#getVerfyCode').prop("disabled", !0);
                                $('#getVerfyCode').addClass('btn_disabled');
                                $('#getVerfyCode').val(' Resend ' + countdown + ' second ');
                                countdown--;
                            }
                            setTimeout(function() { 
                                settime()
                            },1000)
                        }
                        settime();
                    } else {
                        $('.type_box').eq(loginTypeValue).addClass('err');
                        $('.type_box').eq(loginTypeValue).find('.J_errbox').text(result.msg);
                        return false;
                    }
                }
            });
        } else {
            doLogin();
        }
    }

    //  log in 配置验证码
    $.ajax({
        //  Obtain id，challenge，success（ Whether to enable failback）
        url: qscms.root+'?m=Home&c=captcha&t=' + (new Date()).getTime(), //  Plus random number to prevent caching 
        type: "get",
        dataType: "json",
        success: function (data) {
            //  use initGeetest interface 
            //  parameter 1：配置 parameter 
            //  parameter 2： Callback ， Callback 的第一个 parameter 验证码对象，之后可以 use 它做appendTo Such as the event 
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", //  Product form ， include ：float，embed，popup。 Note only right PC Verification code is valid 
                offline: !data.success //  Indicates whether the user is in the background to check whether the server is down ， Generally do not need attention 
            }, handler);
        },
        error:function(data){
            alert(data['responseText']);
        }
    });
    //  Verification code is loaded 
    var handler = function(captchaObj) {
        captchaObj.appendTo("#popup-captcha-login");
        captchaObj.bindOn("#btnCheckLogin");
        captchaObj.onSuccess(function() {
            validDoSomethig();
        });
        captchaObj.onFail(function() {
            var loginTypeValue = eval($('#J_loginType').val());
            $('.type_box').eq(loginTypeValue).find('.J_errbox').text(' Slide validation failed ！').show();
        });
        captchaObj.onError(function() {
            var loginTypeValue = eval($('#J_loginType').val());
            $('.type_box').eq(loginTypeValue).find('.J_errbox').text(' Network Error ， Please try again later ！').show();
        });
        captchaObj.getValidate()
    };
</script>