:root {
  --inactive-color: #AAA;
}

.tab-item {
  flex: 1;
  & a {
    display: block;
    height: 2rem;
    padding-top: .36rem;
    box-sizing: border-box;
    color: var(--inactive-color);
    &.tab-active {
      color: var(--color-dark);
    }
  }
  & .tab-icon {
    position: relative;
    font-size: .7rem;
  }
  & .tab-text {
    font-size: var(--font-size-10);
  }
}