@charset "gb2312";
/* CSS Document */

* { margin:0; padding:0;}
body { font-family:"풻"; font-size:12px; color:#333333; line-height:24px;}
a { color:#333333; text-decoration:none;}
a:hover { color:#333333; text-decoration:none;}
img { border:none;}
ul { list-style:none;}
li { list-style:none;}
.clear { clear:both;}

/*--------------------------index--------------------------*/

.header{
	height: 130px;
	background-image: url(bg1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.head{ width:1000px; margin:0 auto;}
.head1{ height:30px; line-height:30px;}
.tonggao{
	float: left;
	padding-left: 28px;
	color: #666666;
	background-image: url(tonggao.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.zhuce{ float:right; color:#666666;}
.zhuce a,.zhuce a:hover{ color:#666666;}
.logo{
	float: left;
}
.nav{ float:right; padding-top:35px;}
.nav li{ float:left; font-family:"풕턼환쥌"; font-size:14px; font-weight:bold; width:90px; text-align:center;}
.nav li a{ display:block;}
.nav li a:hover{ background:url(border.jpg) no-repeat center bottom; padding-bottom:15px; overflow:hidden; height:100%;}
.nav li a.curr{ background:url(border.jpg) no-repeat center bottom; padding-bottom:15px; overflow:hidden; height:100%;}

.banner{
	height: 415px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.www51buycom{ height:415px; margin:0 auto; overflow:hidden;}
.www51buycom .num{ position:absolute; left:46%; bottom:18px; height:10px; overflow:hidden; zoom:1; z-index:3;}
.www51buycom .num li{
	float: left;
	width: 45px;
	height: 10px;
	line-height: 30px;
	margin-right: 10px;
	cursor: pointer;
	background-image: url(hd1.jpg);
}
.www51buycom .num li.on{
	background-image: url(hd2.jpg);
}
.www51buycom .prev{ display:none; background:url(zuo.png) no-repeat; width:75px; height:107px; position:absolute; left:10%; top:155px;}
.www51buycom .next{ display:none; background:url(you.png) no-repeat; width:75px; height:107px; position:absolute; right:10%; top:155px;}
.anniu{ position:absolute; left:350px; top:180px;}

.mainer{ background:url(bg.jpg) repeat-x left top #fdfdfd; overflow:hidden; height:100%;}
.main{ width:1000px; margin:0 auto; padding-top:40px; padding-bottom:10px; overflow:hidden; height:100%;}
.main-left{ float:left; width:249px;}
.main-center{ float:left; width:367px; margin-left:38px;}
.main-right{ float:right; width:270px;}

.hh{ height:36px; line-height:36px;}
.hh1{
	padding-left: 48px;
	font-family: "풕턼환쥌";
	font-size: 16px;
	font-weight: bold;
	background-image: url(h1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.hh2{ background:url(h2.jpg) no-repeat left center; padding-left:48px; font-family:"풕턼환쥌"; font-size:16px; font-weight:bold;}
.hh3{ background:url(h3.jpg) no-repeat left center; padding-left:48px; font-family:"풕턼환쥌"; font-size:16px; font-weight:bold;}

.main-left{ width:249px; overflow:hidden;}
.main-left ul{ width:300px; padding-top:15px; padding-left:3px;}
.main-left li{ float:left; margin-right:39px; text-align:center;}
.main-left li img{ float:left;}
.main-left li p{ clear:both;}

.main-center ul{ padding-top:8px;}
.main-center li{ height:30px; line-height:30px; overflow:hidden; border-bottom:dashed 1px #d2d2d2;}

.main-right ul{ padding-top:8px;}
.main-right li{ height:30px; line-height:30px; overflow:hidden; border-bottom:dashed 1px #d2d2d2;}

.bottomer{
	clear: both;
	background: #07ad7d;
	height: 100px;
}
.bottom{ width:1000px; margin:0 auto;}
.fenxiang{
	float: left;
	padding-left: 20px;
	padding-top: 35px;
	width: 230px;
}
.xiazai{ float:left; margin-left:255px; padding-top:35px;}
.erweima{
	float: right;
	text-align: center;
	color: #FFF;
	padding-right: 30px;
	padding-top: 35px;
}

.foot{ background:#333333; text-align:center; color:#aeacab; padding:20px 0 25px 0;}

/*------------------------------------list_news----------------------------------------*/

.header1{ background:url(bg1.jpg) repeat-x left top; height:131px;}
.main1{ width:950px; margin:0 auto; padding-top:30px; padding-bottom:10px; overflow:hidden; height:100%;}
.hhh{ height:46px; background:url(bor.jpg) repeat-x left bottom;}
.hh4{ float:left; background:url(h11.jpg) no-repeat left center; padding-left:55px; height:40px; line-height:40px; font-family:"풕턼환쥌"; font-size:18px; font-weight:bold;}
.location{ margin-top:15px; margin-right:10px; color:#6c6a6a;}
.location a{ background:url(location.png) no-repeat right 1px; padding:0 15px 0 5px; color:#6c6a6a;}
.location a:hover{ color:#51af1e;}

.news li{
	float: left;
	border-bottom: dashed 1px #999999;
	padding-bottom: 18px;
	padding-top: 18px;
	width: 100%;
}
.news li img{ float:left; margin-right:18px;}
.biaoti{ font-family:"풕턼환쥌"; font-size:15px; font-weight:bold;}
.miaoshu{ line-height:22px; color:#999999; padding-top:12px; height:95px; overflow:hidden; position:relative;}

.pagess{ clear:both; text-align:center; padding:30px 0 15px 0; color:#333333;}
.pagess a{ padding:4px 9px; background:#e0dfdf; border:solid 1px #a4a3a3; margin-right:10px; color:#333333;}
.pagess a:hover{ background:#51af1e; border:solid 1px #2d7b03; color:#FFF;}

/*-------------------------------------list_products----------------------------------------*/

.hh5{ float:left; background:url(h22.jpg) no-repeat left center; padding-left:55px; height:40px; line-height:40px; font-family:"풕턼환쥌"; font-size:18px; font-weight:bold;}
.xz{ position:absolute; right:0; bottom:0;}

/*---------------------------------------contact---------------------------------------*/

.hh6{ float:left; background:url(h33.jpg) no-repeat left center; padding-left:55px; height:40px; line-height:40px; font-family:"풕턼환쥌"; font-size:18px; font-weight:bold;}
.contact{ clear:both; width:910px; padding:37px 20px 20px 20px;}
#left{ float:left; background:url(contact_12.jpg) no-repeat right top; height:565px; width:181px;}
#left li{ height:50px; line-height:50px; font-family:"풕턼환쥌"; font-size:17px; font-weight:bold; text-align:center;}
#left li a{ display:block;}
#left li a:hover{ background:url(03.png) no-repeat left top; color:#FFF;}
#left li a.currt{ background:url(03.png) no-repeat left top; color:#FFF;}

#right{
	float: left;
	width: 700px;
	padding-top: 10px;
}
.hh7{ font-family:"풕턼환쥌"; font-size:16px; font-weight:bold; border-bottom:dashed 1px #c7c8c9; height:40px; line-height:40px;}
.jianjie{ padding:15px 5px 10px 5px;}

/*-----------------------------show_news--------------------------------------------*/

.neirong{ padding-left:15px; padding-right:15px;}
.title{ font-size:18px; font-weight:bold; color:#5c5c5c; text-align:center; padding-top:25px; padding-bottom:12px; border-bottom:dashed 1px #c7cacc;}
.content{ padding:15px 10px 15px 10px; line-height:30px;}

/*-----------------------------------xuandong-------------------------------------*/

div.orbit-wrapper { position:relative; overflow:visible; width:660px; height:300px; margin-left:85px;}
div.orbit { position:relative; overflow:hidden;}
div.orbit span { display:none;}
div.orbit a img{ position:absolute; display:block; width:385px; box-shadow:0 3px 8px rgba(0,0,0,0.5); padding:3px; border:#ccc 1px solid; background:#fff;}
div.orbit-wrapper h4{ display:none;}
div.timer { display:none;}
div.slider-nav { display:block;}
div.slider-nav span { width:40px; height:120px; color:#fff; text-align:center; position:absolute; z-index:100; top:110px; cursor:pointer; text-indent:-9999px;}
div.slider-nav span.right { right: 15px; background:url(slider_right.jpg);}
div.slider-nav span.left { left: -50px; background:url(slider_left.jpg);}
div.slider-nav span.right:hover { background:url(slider_right.jpg) bottom;}
div.slider-nav span.left:hover { background:url(slider_left.jpg) bottom;}
.kf p {
	line-height: 35px;
	font-size: 18px;
}
.kf {
	padding: 20px;
}
.banner1 {
	text-align: center;
}
