body {
  font-family: PingFangSC-Regular;
}
.container {
  padding: 0 1rem;
}
/*emailBox*/
.emailBox {
  height: 3rem;
  margin-top: 1.5rem;
  border: 1px solid #E2E2E2;
  position: relative;
}
.emailBox .emailWarningIcon {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
}
.emailBox .emailTips {
  font-size: 0.625rem;
  color: #FD4F57;
  padding-top: 0.3125rem;
}
.emailBox .inputPart {
  padding-left: 1rem;
  margin-right: 3.25rem;
  height: 100%;
  overflow: hidden;
}
.emailBox .inputPart .inputPartInner .show {
  color: #222;
  width: 100%;
  border: none;
}
.emailBox .inputPart .inputPartInner .show:-webkit-input-placeholder {
  color: #888888;
}
.emailBox .inputPart .inputPartInner .show1 {
  color: #222;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.875rem;
}
.emailBox .inputPart .inputPartInner .show2 {
  font-size: 0.875rem;
  color: #222;
  height: 1.25rem;
  line-height: 1.25rem;
}
.emailBox .inputPart .inputPartInner .show2Name {
  color: #888888;
  font-size: 0.625rem;
  padding-top: 0.1875rem;
}
/*passwordBox*/
.passwordBox {
  height: 3rem;
  margin-top: 1.5rem;
  border: 1px solid #E2E2E2;
  position: relative;
}
.passwordBox .passwordWarningIcon {
  position: absolute;
  right: 0.625rem;
  top: 1rem;
}
.passwordBox .pswTips {
  font-size: 0.625rem;
  color: #FD4F57;
  padding-top: 0.3125rem;
}
.passwordBox .inputPart {
  padding-left: 1rem;
  margin-right: 3.25rem;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #E2E2E2;
}
.passwordBox .inputPart .inputPartInner .show {
  color: #222;
  width: 100%;
  border: none;
}
.passwordBox .inputPart .inputPartInner .show:-webkit-input-placeholder {
  color: #888888;
}
.passwordBox .inputPart .inputPartInner .show1 {
  color: #222;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.875rem;
}
.passwordBox .inputPart .inputPartInner .show2 {
  font-size: 0.875rem;
  color: #222;
  height: 1.25rem;
  line-height: 1.25rem;
}
.passwordBox .inputPart .inputPartInner .show2Name {
  color: #888888;
  font-size: 0.625rem;
  padding-top: 0.1875rem;
}
/*forgetPsw*/
.forgetPsw {
  font-size: 0.75rem;
  color: #1A1A1A;
  text-align: right;
  padding-top: 1.25rem;
}
/*loginBtn*/
.loginBtn {
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  font-size: 0.9375rem;
  text-align: center;
  letter-spacing: 0.1875rem;
  margin-top: 1.875rem;
  background-color: #E5E5E5;
}
.loginBtnActive {
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  font-size: 0.9375rem;
  text-align: center;
  letter-spacing: 0.1875rem;
  margin-top: 1.875rem;
  background-color: #222;
}
/*lineThrough*/
.lineThrough {
  margin-top: 1.875rem;
  background: #E5E5E5;
  height: 0.0625rem;
  text-align: center;
}
.lineThrough .or {
  font-size: 0.75rem;
  color: #1A1A1A;
  position: relative;
  bottom: 0.625rem;
  padding: 0 0.75rem;
  background-color: #fff;
}
/*createNewBtn*/
.createNewBtn {
  height: 3rem;
  line-height: 3rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  font-size: 0.9375rem;
  text-align: center;
  letter-spacing: 0.125rem;
  margin-top: 1.875rem;
}
/*warningBox*/
.warningBox {
  color: #222;
  font-size: 0.75rem;
  height: 2.125rem;
  line-height: 2.125rem;
  padding: 0 1rem;
  background-color: #EDEDED;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.warningBox .leftIcon {
  padding-right: 0.375rem;
  vertical-align: -0.25rem;
}
.warningBox .rightIcon {
  position: absolute;
  right: 1rem;
  top: 0.8125rem;
}
