@charset "utf-8";
body {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	color: #666;
}
*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.clear{clear:both}.head {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 51px;
}
.nav {
	float: right;
	width: 600px;
	height: 51px;
	line-height: 51px;
	font-size: 16px;
}
.logo {
	float: left;
}
.nav ul li {
	float: right;
	padding-right: 20px;
	padding-left: 20px;
}
.nav ul li a {
	color: #666;
}
.type {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.title {
	font-size: 24px;
	color: #EA8010;
	line-height: 35px;
	height: 50px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	background-image: url(../images/li.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.type table tr td {
	background-color: #FFF;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
.type table {
	background-color: #eee;
}
.btn {
	color: #FFF;
	background-color: #F39800;
	height: 35px;
	width: 100px;
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	line-height: 35px;
	border-radius:10px;
}
.type  h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 35px;
	margin-top: 10px;
	color: #333;
}
.type table tr td p {
	height: 60px;
}
#nav {
	background-image: url(../images/nav.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 100px;
	padding-top: 170px;
	padding-right: 15px;
	padding-left: 15px;
	position: fixed;
	top: 180px;
	left: 5px;
}
#nav ul li a {
	background-image: url(../images/nav1.png);
	background-repeat: no-repeat;
	display: block;
	height: 35px;
	width: 85px;
	line-height: 35px;
	margin-bottom: 10px;
	padding-left: 15px;
	color: #EE9C00;
}
.tb {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.txt {
	float: left;
	width: 600px;
}
.form {
	float: right;
	width: 380px;
	border: 0px solid #F39800;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
input {
	line-height: 30px;
	border: 1px solid #ddd;
	height: 35px;
	width: 100%;
}
select {
	line-height: 30px;
	height: 30px;
	border: 1px solid #ddd;
}
.form h1 {
	font-size: 18px;
	font-weight: normal;
	color: #333;
}
#button {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #FFF;
	background-color: #DA4105;
	line-height: 40px;
	height: 40px;
	border: 0px solid #EC9400;
	border-radius:100px;
}

.sq {
	border: 1px solid #FFE4CA;
	margin-top: 50px;
}
.tbg {
	background-color: #FFF7F0;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.tit h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}
.tit h3 {
	color: #DA4105;
	font-weight: normal;
}
.tit h2 {
	color: #333;
	font-weight: normal;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.mm {
	float: left;
	width: 500px;
	position: relative;
}
.tit1{
	position: absolute;
	top: 10px;
	line-height: 50px;
	left: 20px;
}
.tit1 h1 {
	font-size: 24px;
	font-weight: normal;
	float: left;
	
}
.bb {
	float: right;
	width: 500px;
	position: relative;
}
.table tr td {
	background-color: #FFF;
	padding: 10px;
	color: #DD6572;
}
.table {
	background-color: #F7D7DA;
}
.mm  h2 {
	font-size: 14px;
	font-weight: bold;
}
.bb h2 {
	font-size: 14px;
	font-weight: bold;
}

.table2 {
	background-color: #FDECD9;
}
.table2 tr td {
	padding: 10px;
	background-color: #FFF;
	color: #EA8010;
}
.img {
	border-radius:100%;
	margin-top: 40px;
}
.about .map {
	float: right;
}
.atxt {
	float: left;
	width: 400px;
	margin-right: 30px;
	margin-left: 30px;
}
.about1 {
	float: left;
	width: 500px;
	border: 0px solid #EA8010;
	padding: 10px;
	margin-top: 30px;
}
.about1 ul li {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.about1 ul li h1 {
	font-size: 14px;
	font-weight: normal;
	color: #EA8010;
}
.www360buy{
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #EA8010;
}
	.www360buy .hd{
	overflow:hidden;
	background-color: #fbfbfb;
	background-position: 0 -32px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #eee;
}
	.www360buy .hd li{
	position:relative;
	margin-left:-1px;
	height:40px;
	line-height:40px;
	text-align:center;
	width:168px;
	float:left;
	_font-weight:bold;
	cursor:default;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
}
	.www360buy .hd li.on{ width:176px; background:#fff; border-bottom:1px solid #fff; color:#c00;  }
	.www360buy .bd{
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
}
	.www360buy .lh{ overflow:hidden;  }
	.www360buy .lh li{
	width:180px;
	float:left;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}
	.www360buy .lh li .p-img{
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	width: 180px;
}
	.www360buy .lh li .p-name{
	word-break:break-all;
	word-wrap: break-word;
	overflow:hidden;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	width: 180px;
}
	.www360buy .lh li .p-price{ color:#999;  }
	.www360buy .lh li .p-price strong{ color:#c00; font-size:14px; font-family: verdana; }.team {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.p-name h1 {
	font-weight: normal;
	font-size: 12px;
	color: #666;
}
.more {
	display: block;
	width: 100%;
	float: left;
}
.more a {
	line-height: 35px;
	color: #FFF;
	text-align: center;
	height: 35px;
	width: 120px;
	display: block;
	background-color: #DA4105;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
a {
	color: #666;
}
.scrollBox{
	padding:10px;
	position:relative;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #fff;
}
	.scrollBox .piclist{ overflow:hidden; zoom:1;}
	.scrollBox .ohbox{
	overflow:hidden;
	position:relative;
	left:20px;
	width: 970px;
}
	.scrollBox {
	position:relative;
	zoom:1;
}
	.scrollBox .piclist li{
	float:left;
	display:inline;
	width:300px;
	background:#fff;
	border:1px solid #c9bea9;
	margin-right:5px;
	padding:5px;
	margin-left: 5px;
}
	.scrollBox .piclist li span{
	height:35px;
	line-height:35px;
	display:block;
	text-align:center;
}
	.scrollBox .pageBtn span{
	display:block;
	width:37px;
	height:59px;
	position:absolute;
	top:100px;
	cursor:pointer;
	overflow:hidden;
	line-height: 59px;
	font-size: 60px;
	font-family: "宋体";
}
	.scrollBox .pageBtn .prev{
	left:-20px;
	font-family: "宋体";
	font-size: 60px;
}
	.scrollBox .pageBtn .next{
	right:-20px;
}
	.scrollBox .pageBtn .list{overflow:hidden;zoom:1;margin:10px 0 0 413px; }
	.scrollBox .pageBtn .list li{
	float:left;
	cursor:pointer;
	margin-left:10px;
	overflow:hidden;
}
	.scrollBox .pageBtn .list li.on{
	background-color: #DA4105;
}.pic {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.foot {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
.foot ul li {
	float: left;
	width: 25%;
}
.foot ul li .pic1 {
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}
.content h5 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}
.content {
	float: left;
	font-size: 12px;
	width: 180px;
}
.banner {
	background-image: url(../images/b0.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 500px;
}
.bootom {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eee;
	padding-bottom: 30px;
	line-height: 30px;
}
.bootom ul li {
	float: left;
	width: 50%;
}
.btxt {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 240px;
}
.button {
	float: left;
	margin-left: 220px;
}
.btxt h1 {
	font-size: 16px;
	font-weight: normal;
	padding-left: 50px;
	margin-top: 10px;
}
	.slideGroup{
	border:0px solid #ddd;
	text-align:left;
}
		.slideGroup .parHd{
	height:40px;
	line-height:40px;
	position:relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EA8010;
	margin-bottom: 10px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
}
		.slideGroup .parHd ul{
	position:absolute;
	left:20px;
}
		.slideGroup .parHd ul li{
	float:left;
	cursor:pointer;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
}
		.slideGroup .parHd ul li.on{
	color: #FFF;
	background-color: #EA8010;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ddd;
	border-right-color: #ddd;
	border-bottom-color: #fff;
	border-left-color: #ddd;
}
		.slideGroup .slideBox{
	zoom:1;
	position:relative;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 10px;
}

		.slideGroup .sPrev,.slideGroup .sNext{
	position:absolute;
	left:-20px;
	top:100px;
	display:block;
	width:30px;
	height:50px;
	border:0px solid #ddd;
	font-family: "宋体";
	font-size: 60px;
	line-height: 50px;
}
		.slideGroup .sNext{
	left:auto;
	right:-20px;
}
		.slideGroup .sPrev:hover,.slideGroup .sNext:hover{ border-color:#f60;  }

		.slideGroup .parBd ul{ overflow:hidden; zoom:1;   }
		.slideGroup .parBd ul li{
	float:left;
	_display:inline;
	overflow:hidden;
	text-align:center;
	background-color: #FFF;
	width: 300px;
	margin-top: 0;
	margin-right: 8px;
	margin-bottom: 0;
	margin-left: 8px;
	padding: 10px;
}
		.slideGroup .parBd ul li .pic{ text-align:center; }
		.slideGroup .parBd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
		.slideGroup .parBd ul li .pic a:hover img{ border-color:#999;  }
		.slideGroup .parBd ul li .title{ line-height:24px;   }
