body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1375 {
  position:absolute;
  left:124px;
  top:319px;
  width:42px;
  height:42px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377 {
  position:absolute;
  left:165px;
  top:319px;
  width:250px;
  height:42px;
}
#u1377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1379 {
  position:absolute;
  left:133px;
  top:188px;
  width:171px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1381_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:21px;
}
#u1381 {
  position:absolute;
  left:125px;
  top:189px;
  width:2px;
  height:18px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1384 {
  position:absolute;
  left:124px;
  top:228px;
  width:42px;
  height:42px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386 {
  position:absolute;
  left:165px;
  top:228px;
  width:250px;
  height:42px;
}
#u1386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 79, 13, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  position:absolute;
  left:124px;
  top:423px;
  width:291px;
  height:35px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:10px;
  width:287px;
  word-wrap:break-word;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1390 {
  position:absolute;
  left:124px;
  top:371px;
  width:42px;
  height:42px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392 {
  position:absolute;
  left:165px;
  top:371px;
  width:250px;
  height:42px;
}
#u1392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#333333;
}
#u1393 {
  position:absolute;
  left:324px;
  top:280px;
  width:101px;
  height:29px;
  text-decoration:underline;
  color:#333333;
}
#u1394 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1395 {
  position:absolute;
  left:124px;
  top:280px;
  width:190px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1396 {
  position:absolute;
  left:10px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:102px;
  background:inherit;
  background-color:rgba(102, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u1397 {
  position:absolute;
  left:425px;
  top:280px;
  width:165px;
  height:102px;
  color:#666666;
  text-align:left;
}
#u1398 {
  position:absolute;
  left:15px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1400 {
  position:absolute;
  left:213px;
  top:3px;
  width:175px;
  height:35px;
  font-size:16px;
  color:#333333;
}
#u1400_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#333333;
}
#u1400.selected {
}
#u1401 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
